@-moz-document domain("facebook.com"), domain("messenger.com"), regexp("http(s?)://(www.|)facebookcorewwwi.onion(.*)") {
/*
	Author: Mikalai Buk (book777/nikolia0612)
	https://fb.com/userstyles.136318
	Version 8.0.9
*/
:root {
  --bg-color-background: #333;
  --bg-color-first: #454545;
  --bg-color-second: #3b3b3b;
  --bg-color-hover: #4b4b4b;

  --border-color-top: #4c4c4c;
  --border-color-right: #4c4c4c;
  --border-color-bottom: #4c4c4c;
  --border-color-left: #4c4c4c;

  --icon-change-partly: 81%;
  --icon-change-full: 100%;

  --text-color-first: #dfdfdf;
  --text-color-second: #07a767;
  --text-color-green: #42b72a;
  --text-color-blue: #8ba2d2;
  --text-color-red: #f13f3f;

  --photo-blur:0px;
  --photo-brightness: 100%;
  --photo-contrast: 100%;
  --opacity-chat-head:1;
  --hover-timeout: 0.5s;
}

#rightCol, #createNav, 
._5rzs, 
._5v6d, 
._1wcc,
.profile_sidebar_ads, 
.sidebar_ads, 
.adcolumn_header, 
.admarket_ad, 
.ad_story, 
.social_ad_advert, 
.ads_feedback, 
.next_ad_button, 
.more_ads,
.unclickableMask,
._3u15
{
	display:none; 
}

div#contentArea {
	width: 98% !important;
	right:0;
}


/*-------------------- text color --------------------*/
body, h1, h2, h3, h4, h5, h6, textarea, a, label, .inputtext, .inputtext.textInput, ._5jn1, ._5hp9, ._2as-, ._33w5, ._-8, ._36t2, ._3d_z, ._13wm, ._3e00, ._9mz, ._1lqe, ._4syn, ._4iki, ._1o_c, ._1vhc, ._2c5x, ._1-b3, ._46ct, ._4rph ._4rpj, ._2y8z, ._4g0h, ._3xcx, ._3qk-, ._kdk, ._-7c, ._2c9i ._19jt, ._374c, ._3szq, ._5aov ._5k6-, ._5mur, #captcha_response, ._ewv, ._499_, ._57i_, .t_1bs_jiqkrw .y_1bs_jiqkrx, .t_1bs_jiqkrw .e_1bs_jiqkru, ._4g6e, ._23h7, ._4l3j, ._3yjw, ._4syj, ._3jjf ._55pe, ._2div, ._53w0, ._5y4o, ._5591, ._5kn3, ._3w-h, ._tpd, ._3jv6, ._2zkn, ._32-_, ._57ex, .touch .input._59tw, ._4qas, .touch ._4mo, ._2s23 ._59k, ._2s23 div[style*="color:"], ._u2d ._u2g, section._32l5, .touch .btnS[disabled], ._1aau, ._1mwn, .touch .profileHeader .name, .touch .mTypeahead .jx-result .primary span, .touch div.sharerSelector, ._2j2k, ._5_6e, ._52j9, ._6zf, ._1ii2, ._1ii3, ._bji, ._484w, .touch ._4_xl ._5c9u, ._5xul, ._5c4t ._1g06, ._5wbp, ._2tbu, .fcl, .blueName, ._56bt, ._56bt ._58gn, a._56bt, ._3c9l, ._3bg5 ._52x2, .touch .structuredPublisher .btn, .touch.x2 .structuredPublisher .btn, ._rnk, ._52ja, ._5j35, .invite_list .invite_list_column .invite_email, .summary_bar, ._54v6, ._54v3, ._jqu, ._4dyr, ._1jf7, ._23h6, ._52id, ._4sqx ._5g5z, ._rsk, ._15na, ._41yq, ._1z7g, ._2-gz, ._4jq5 span, ._3vgh, ._yl9, ._pf, ._5c1v, ._559a, ._mkd, ._5k9x tbody td, ._5k9x thead th, ._zw8, ._5mse, ._1n6, ._579o, ._5wd4 ._59gp, ._5hy4, .wordmark .wordlink, p, .uiP, .heroPara, .ie8 p, .ie8 .uiP, .ie8 .heroPara, .section#payments h1, .section#payments div, .section#payments p, ._w_m, ._2auw, ._1cak a, ._1cak em, ._1cak div, a[role="button"]._51ii span, ._1_wg ._1_wi, ._1_wg ._1_wj, ._4eys, ._4h3c, ._3403, ._aou, ._e8t, ._38cz, ._38c-, ._75e span, ._pac, ._pac a, ._5r7f ul, ._11a .metadataFragment .placeToken, ._11a .metadataFragment .withToken, ._11a .metadataFragment .askFriends, ._11a .metadataFragment .og_composer_object, ._2lj3, ._19s-, ._1v2w, ._4w6, ._2fvv, ._s0p, ._4oy, ._4660, ._3tr, ._3tr a, ._3ts, ._2gbs, ._48g3, ._2sy- ._3yz8, ._oxb, ._ox5 ._oxe, ._ox7 ._oxc, ._owy ._oxb ._oxc._oxe:hover, ._owy ._oxb._ox7 ._oxc:hover, ._owy ._oxb ._oxc:hover, ._387d, ._387i, ._2e9n, ._4-xi, ._5p3j, ._4qg-._5cim, .m_17_6nvbj-5 .n_17_6nvbj-4, .m_17_6nvbj-5 .w_17_6nvbj-7, ._5mac, .uiTypeaheadView .bucketed .header .text, .uiTypeaheadView .search.updatedSuggestionRows .text, .uiTypeaheadView .search .text, .uiTypeaheadView .search .seeMore, .uiTypeaheadView .search .seeMoreV2, ._26-d, ._1rml, ._1rm1, ._1rm4, ._1rma, ._h0f, ._588p, ._4wm8 ._1n3b ._38io, ._b-s, ._1wmv ._51-m blockquote div, ._13_m>._38io, ._4a9z, ._5vnu ._45su:hover, ._5vnu ._45su:active, ._5vnu._5qhz ._1hqh ._45su, ._5jd7, ._5jdb, ._5vhe ._3y3p, ._tzc, ._2yve, ._2yvf, ._tzc p, ._1rlx, ._4a2l, ._4a2g, ._47od, ._2req, body ._58_u>*>tr>th, body ._58_u>*>tr>td, ._1mv5, body._4c1z ._176g, ._5rvc, ._6s, ._1cir ._3_xs, ._3_-3.homeFixedLayout ._3r7c .truncatedNameWithTooltip, ._3s6x, ._2ujl, ._2wuv, ._h24, ._23mm, ._5gmx, ._5z7c, ._1r50, ._3s1-, ._2wuq, ._26ac, ._-x6, ._53mo, ._40m_, ._4bo2, ._2l_0 ._4209, ._53gb, ._34x4, ._3u1y, ._280r, ._280s, ._33gi, ._33gj, ._4vi0, ._mp-, ._mqj, ._1giw, ._5ail, ._sig, ._9i3, ._5awc, ._5baw, ._5c6j ._3smp, ._3nmk, ._2n7s, ._rio ._58z_, ._4fx5, ._4uq6, ._24nl, ._4uqc, ._1je5, ._26op, ._3con, ._586h, ._5eay, ._5wn5, ._4g6z, ._2qe, ._g3i span._38my, ._1tm1 ._1hqh ._4jq5, ._146q, ._1477, ._147a, ._tzp, ._58-r, ._1_ex, ._3549, ._2bbo, ._5dwm, ._1_ey, ._2jfb, ._z6x, ._4qzk, ._5vaf, ._1kj2 ._41d6, ._p6f, ._xdl, ._5x_j, ._5x_r, ._52sw, ._52sx, ._5cw3, ._40mo, ._55xt, ._599p, ._6-7, ._75e, ._75k, ._39g5 ._75e, ._2wma, ._2wmb, ._54nh, ._3f-h._3f-i, ._3f-h, .uiSideNav .item, ._4tvz, ._39g6, html ._zho, ._39g5, ._33e, ._1hm7, .__tw li.jewelItemResponded, ._j4h, ._4vg4, ._58zy, .poll_choice label, ._sg3._sg1, ._5778 ._51cp, ._iwu, ._21jh, ._21ok, ._1c0q, ._1c0s, ._7f-, ._405z, ._alf:hover, ._2sl4, ._5esr, ._58mq select, ._51mx a, .uiStickyPlaceholderInput .placeholder, .uiList a,._15lg, ._15lf, ._5wvt ._5cl4, ._5wvt ._4tdg ._5m3_, ._5wvt ._4tdg ._5dg3, ._16l6, ._1a_t ._3crq, ._5ugf, ._463q, ._5rg, ._5na_, ._2ecj, ._454y ._1mj0, ._5rzs .uiHeaderTop .uiHeaderTitle, ._5dw9 ._38my, ._5rzs .uiHeader.uiSideHeader a, ._3c_:hover ._3sz, ._3s- ._3sz, ._33hy ._554b:hover, ._4o52:hover ._3sz, ._3c- a, ._5rzs .uiHeader.uiSideHeader h6, #rightCol ._5rzs .uiHeader.uiSideHeader .adsCategoryTitleLink, ._3l4n, ._15px, ._5rzs ._9qc ._38my,  ._35sk ._53bl, .litestandClassicWelcomeBox.fbxWelcomeBox a, ._4f3a, ._c24, ._5108 .addFriendText, ._duz, ._5108 .FollowLink, .__6k, .__6l, ._36zg, ._4mq3 .fbNubFlyoutTitlebar .titlebarLabel, .uiHeader h2, ._4cwn, ._12p8, .litestandClassicWelcomeBox.fbxWelcomeBoxSmall a, ._3scn, ._bui ._5afe, ._bui .subitem, _bui ._5afe, ._4n9u, ._bui .subitem, ._5pbw, ._5pbx, ._vmt, ._3v6c span._38my, ._4yrd, ._2jyf, ._m_1 ._2aha, ._5re, ._5rf, ._50f8, ._1g5v+._4arz, ._517h, ._59pe:focus, ._59pe:hover, html ._4lh ._1zw6, .uiButtonText, ._5rzs .uiHeader.uiSideHeader, .uiButton input, .uiHeader h3, .uiHeader h4, ._1y2l .author, ._1y2l a.messagesContent:hover .author, ._18tn ._18to, ._1y2l a.messagesContent:hover .author span, ._1y2l .subject, ._1y2l a.messagesContent:hover .subject, ._1mzr, ._1e07, ._5vb_, ._5vb_ #contentCol, ._5vsj._5vsj._5vsj, ._5yk1 ._1p1u, ._30v-, ._5qtn ._5qtp, ._4jy1, ._4jy2, ._2eu_ ._36zg, ._55y4 .sectionDragHandle, ._70n, ._50f9, ._r7, ._r7 a, ._l1, .openToggler ._2jq5, ._2jq5:focus, ._g3i, ._364g, .fcb, ._2jq5:hover, ._4un6, ._4-i0 ._52c9, ._2yiu, ._2t4s, ._5xmz._5wcf, .fbTimelineUnit, ._416u ._4ixr ._3smp, ._498i, ._5hpw ._5hpx ._5hq1:hover, ._5hpw ._5hpx ._5hq1:focus, ._5hpx ._5hq1, ._416u ._5q9i label, ._58al, ._5n27, ._5pwr:hover ._5pws, ._47__ ._5pws, ._5w1r, ._1rv, ._5vf h3.uiHeaderTitle, ._5vf .uiHeaderActions a, ._517h._42fs, .uiSearchInput input, ._1032, ._iqq, .fbReminders .fbRemindersStory .fbRemindersTitle, ._4fzb ._5pco, ._4fzb ._5pco p, .fbSettingsList .fbSettingsListItemLabel, h1.marketingHeadline, .inputpassword, .uiInputLabelLegacy label, ._58mt, ._5h55 ._1ui6, ._4_ci ._4_cj, ._18s4 ._4_cj, ._59_o, ._57ne, ._4na1, ._5vrk, ._2jse ._2jsf, ._5iyx, ._2_68, ._5963, ._1exz, ._5t-9, ._3dq0, ._1bil, ._2_k_, ._14az, .pop_content h2.dialog_title, html ._55r1, ._40jr, ._iyc, ._5n0u, ._4nl- ._37xz._37xz._37xz._37xz, ._1t3m, ._3od9 ._3_xs, ._3od9 ._3oda .itemAnchor, ._1cis ._3oda ._54nc, ._5n0v, ._3652, ._1cis ._3odd ._54nh, ._jl_, ._5v3v, ._ko6, ._3sts, ._5fdd, ._3bx9 ._2-t3, ._2ezy, ._54ne ._2ezy, ._54ne ._2ezz, ._57_- ._38my._5803, ._2qgs, ._5po3, ._b37, ._b37:link, ._b37:hover, ._b37:active, ._b37:visited, ._2yap ._2yav, ._5tur, ._5tus, ._6nw ._3nm ._5a_, ._3nm ._5a_, ._30zy, ._54yq ._54yr, ._4qd h3, ._56zh, ._1v-q ._1v-p, ._56zn, ._5778 ._577b, .t_1gwld1sc68 .y_1gwld1sc69, .t_1gwld1sc68 .u_1gwld1sc6a, .m_1gwld1sc63 .t_1gwld1sc68, .fbNubButton, ._53ad, ._21z1, .m_1gwld1sc63 .t_1gwld1sc68 .u_1gwld1sc6a, ._5wvt ._5lz7, ._5wvt ._578f, ._2ddh label._2hi3, ._2vl4 ._2vlj, ._2gtz, ._2vlk, ._26l, .uiTypeaheadView li, ._5ewi ._5mtx .uiHeaderTitle, ._6m2:hover ._275z, .fbCalendar .fbCalendarItemDayNumber, .fbCalendar .fbCalendarBoxHeader, ._4lmi ._509y, ._4lmi ._50a1, ._2kml, ._24s0, ._4b7k, ._3leq, ._1f, .fbNub._50mz.highlightTitle .fbNubFlyoutTitlebar .titlebarLabel, ._5b8h, ._53ii ._47lu._47lv, .fbNub._50mz .titlebar .titlebarText, .fbNub._50mz.highlightTab .fbNubButton .name, .fbNub._50mz.highlightTab .fbNubButton, .fbNub._50mz.focusedTab .fbNubButton .name, ._580i, ._4x0h, ._3enj:hover, ._3enj:hover ._3eni, ._3enj:hover ._3enh, .navHeader, .navHeader a, ._5so3, ._5so2, ._5qg7, ._5qg7 a, ._3zsi, ._3zsi a, div._4wo ._4wq ._4wr, .uiToken, ._5rai, ._5r5c ._5rq_, ._5raa, ._5rab, ._5ewi .ci_design_compact .uiHeaderTitle, ._55ur a, ._55v0, ._5f9e, ._5z0i, ._e0v, ._18be, ._4qba, ._2ll5:hover, ._5r_g._1f9c, ._2ll7, .__tw .jewelFooter a:hover, .__tw .jewelFooter a:active, .__tw .jewelFooter a:focus, .seeMore, ._38xr ._54nf ._3qxy ._54nc:hover, ._38xr ._54nf ._3qxy ._54nc:focus, ._ohe, ._ohf, ._2jnv, ._2jnx, ._2jnz, ._2jnx ._30e7 ._5j5f, ._1ht6, ._3oh-, ._nd_ ._hh7, ._2i-c ._54ne ._54nh, ._2i-c ._54ne ._54nc, ._2i-c ._54ne, ._2i-c ._54nf ._54nh, ._3i_m ._9ah ._57e_, ._4nv_, ._fjp, .audioCall ._4uwq.transparent, ._3q34, ._3z53, ._2f5n ._29ey, ._14-9, ._5i_d .__6l, ._17cj ._a16, ._2n1t, ._2r2v, ._1ht3 ._1htf, ._1hzo ._2rr5, ._2rr4:hover ._2rr5, ._2rr4 ._2rr5, ._2jx8 ._2jx9, ._43x8 ._43xb, ._54ne ._48u1, ._3qg0 .metadataFragment .placeToken, ._3qg0 .metadataFragment .withToken, ._3qg0 .metadataFragment .askFriends, ._3qg0 .metadataFragment .og_composer_object, ._3qg0 .metadataFragment .productItemToken, ._1nc6 ._5w1r, ._1qdd, ._1qdd a, ._1e9r, ._1e9r a, .fbCalendarGrid .fbCalendarGridDayHeader, ._4129, ._4129 a, ._2oj3, ._1zm9 h6, .fbSettingsList .fbSettingsListItemSaved, .fbSettingsList .fbSettingsListItemEdit, ._480u>input, ._480u>label input, ._480v>input, ._480v>label input, #password_new, #password_confirm, ._5y4-, a._12bh ._12bi, ._2-sm, ._2r84 ._b37, ._2r84 ._b37:link, ._2r84 ._b37:hover, ._2r84 ._b37:active, ._2r84 ._b37:visited, ._2r84 ._b2z ._b30, ._2r84 ._b2z ._b31, ._4v8x, ._5rl2, ._4irg, ._4j_k, .fcw, ._2x8n, ._5s1e, ._5ocv, ._5s1g, ._2x8q, ._qvd, ._5i6p, ._5cv, .fbPrivacyCustomControl th, ._5i_d .__6k, ._4u7d, html ._5rz ._4psd, ._538r, ._yc_, ._1pwg, ._p0g, ._5vwy a, ._5vwy:hover a, ._5vx7 ._45hd a, ._5vwz a, ._5vx7 ._45hd:hover a, ._5vwz:hover a, ._2kmn, ._2kmn a, ._2kmn a:hover, #u_f0_q, #u_f0_r, .uiTypeaheadView .selected, .uiTypeaheadView .selected a, .uiTypeaheadView .selected div, .uiTypeaheadView .selected span, ._4nr6 font, ._4nr7 font, ._55ln, .fbFeedTicker .tickerStoryClickable a, .fbFeedTicker .tickerStoryClickable .passiveName, .fbFeedTicker .tickerStoryClickable .token, .fbFeedTicker .tickerStoryClickable ._58cl, .fbFeedTicker .tickerStoryClickable ._58cn, .fbFeedTicker .tickerStoryClickable ._58cm, ._42fu, ._1frb
{color:var(--text-color-first, #dfdfdf)!important; cursor:url(http://ani.cursors-4u.net/cursors/cur-12/cur1080.cur),progress;}

._33w7, ._4ai, ._36t3, ._47ni, ._3e01, ._13wn, ._2p4n, ._5rh4, ._3213, ._5qsj, ._225b, ._3eus, ._5uh, ._2v6o, ._5eu7, ._utr, ._ut-, ._3nx1, ._202-, ._2030, ._202_, ._5qwq, ._2ava, ._3yjt, ._26ad, ._599q, ._1s54, ._ags, ._2-jl, ._3-vs, ._4qq2 ._5e-b ._8do, #create_frame .form .subtitle, ._33t_, ._tpe, ._4qat, ._4qau, .appCenterAppInfo, .appCenterPermissions, ._1u6r, ._ajw, .touch ._5kgn ._52lz, .touch ._52ly ._52lz, ._6u, ._5hnp, ._4u6v, ._3miz, ._1dro ._1drq, ._2ijn, ._1na, ._1n7, ._rsm, ._mkb, ._55wd, ._1n-y, ._1n-y div, ._1n-z, ._1n-z div, ._1n--, ._1n-- div, ._4-3r, ._1n-_, ._1n-_ div, a[role="button"]._kro span, ._e8u, ._2ugx, ._4745, ._3z4v, ._9dh, ._9dh a, ._9dh a:hover, ._44pl, ._580c, ._1n3, ._1skd, ._yk1, ._4sak, ._3nm ._3q9, ._akq, ._387e, ._387j, ._1v-q ._1v-v, ._2yep, ._1v2y, ._1v2x, ._2yep a, ._4qg-, .s_17_6nvbjzt .a_17_6nvbjzs, ._2x8l, ._41y6, ._5ewi .ci_design_compact .subfooter, .uiInfoTable .label, ._1rmd, ._1rmk, ._5v-p ._38io, ._4d-c._cy, ._b-t, ._52if, ._4iud, ._5jd4, ._2_2x, ._5vnu ._45su, ._2l2z, ._3sco, ._1m-h, ._5861 ._586f, ._124w, ._5tuo, ._317_, ._1k59, div._1sr9, ._1vap, ._4a2k, ._4x4r, ._6t, ._586-, ._5cb_, ._7tw, ._13yj, ._1jr2, ._po, ._3j4r, ._4vi1, ._mq1, ._354a, ._4qzj ._4qzl, ._mqk, ._4fx6, ._43-2, ._353-, ._1478, ._31q_, ._31rf, ._4kl6, ._5x_o, ._5861 ._586i, ._3sgq, ._18sh, ._52sy, ._55t1, ._75e, ._75k, ._39g5 ._75e, ._5wvt ._578gm ._3con, ._5ess, ._21jk, ._37p8 ._37p9, ._37p8 ._37pa, ._58xh, ._3gno, ._1y2l .preview, ._5rd, ._1y2l a.messagesContent:hover .preview, .uiHeader h5, .uiHeader h6, ._5pco, .fcg, ._5v3q ._5pcp, ._5v3q ._5pcp a.uiLinkSubtle, ._5v3q ._5ptz, ._5v3q a._5pcq, ._4jzt, ._fwy, ._fwy .fsm, ._fwy .fsm a, ._2nb ._2n3, ._l0, .__6m, ._1n-e, ._4mq3 .fbNubButton .label .count, ._2t4t, ._5v3q ._5pbw .fcg, ._1nd3, ._5vsj .fcg, ._6m3 ._6mb, ._6m3 ._59tj ._6mb a, ._29x7, ._1cis ._3_xt, ._1mzy, ._64f a, .fbNub._50mz .titlebar .titlebarTextWrapper, .fbNub._50mz .fbChatTab .name, #placeholder, ._2r80, ._559e, ._18tu, .UFICommentBody, ._5vb_ ._55y4 ._5afe ._2jgb, ._5vb_ ._55y4 ._5afe:hover ._2jgb, ._55oc, ._vmq, ._75e, ._2fb2, #pageFooter, ._27an, ._5c68, ._5hq1, h2.marketingSubheader, ._5h55 ._1ui7, ._4of, ._4n9s, ._1cwg, ._15pz, ._52lp._59d- ._52lr, ._58mu ._58mv, ._58mk, .__tw .empty, .__tw .jewelHighlight .empty, ._24k, ._64f, ._15py, ._5lcm, ._1p1t, ._45mq, ._gs6, ._5v1m, .UFIAddComment .UFIAddCommentInput._1osc, ._558b ._54ah, ._4uyj, ._56zj, ._2vly, ._5r-_.homeWiderContent #rightCol .uiSideHeader a, ._69d ._69h, .j_1gwld1sc5w .k_1gwld1sc5x, ._53ab, ._57q5, .m_1gwld1sc63 .j_1gwld1sc5w .k_1gwld1sc5x, ._5wvt ._5lzb, ._5wvt ._5c4d, ._5ww7, ._205, ._205 .fragmentUnchanged, .uiTypeaheadView .subtext, ._4127, ._4127 a, ._4128, ._4128 a, ._rb1, ._24s1._24s1._24s1, ._59fk, ._3nim, .fbNub._50mz.highlightTitle .titlebar .titlebarText, ._5v5a, ._3enj ._3enh, .fbNub._50mz.highlightTitle .titlebar .titlebarTextWrapper, ._3enj ._3eni, ._5vl5 ._5xhk a, ._5vl5 a._5xhk, ._5vl5 ._5xhk, ._5a5j ._5a4-, ._yil ._1atz, ._yil ._1atz .sectionContent, ._yil ._1atz .sectionContent .bulletlist, ._yil ._1atz .sectionContent .bulletlist .fcb, ._5qfy, ._5qg4, ._4ww, .fbProfileBylineFragment, ._5r5m, ._5rac, ._5p0a, ._5p0b, ._5p0b a, ._5p0b span, ._3hdt, ._558b ._54nc, ._1ht7.timestamp, ._4nw0, ._1wsg, ._fjq, ._3q35, ._5i_d .__6m, ._3ole, .__tw, ._1ekr ._29ey, ._55ls, ._4flv ._2jx8, ._33g, a._1d9n .timestamp, ._1y2l .time .timestamp, ._1y2l a.messagesContent:hover .time .timestamp, ._1y2l .time, ._3m75 .sideNavItem.sideNavItem.sideNavItem ._2jgb, ._54nc ._48u1, ._5w-6, ._510g, ._5w0o, ._2eu_ ._1n-e, ._1htf, ._2qwi, ._fwz, ._fwz a, ._1qdf, ._1qdf a, ._5599, ._5599 .fcg, ._5599 .em, ._8_l, ._8_l a, ._8_o, ._8_o a, ._5cgi, .fbCalendar .fbCalendarGridCellEmpty .fbCalendarDayItem:hover .fbCalendarItemDayNumber, #password_old, .fbCalendarGridCellEmpty .fbCalendarDayItem .fbCalendarItemDayNumber, ._4ag3, ._aqu, ._aqu a, ._6c3 .uiHeaderTop .uiHeaderTitle, ._6c3 .uiHeader.uiSideHeader, ._6c3 .uiHeader.uiSideHeader a, ._6c3 .uiHeader.uiSideHeader h6, ._6c3 .uiHeader.uiSideHeader .uiHeaderActions, ._6c3 .uiHeader.uiSideHeader .adsCategoryTitleLink, ._5v3q ._5g-l, ._56u1, ._7lu ._50hf, ._7lu .pageByline, ._2x8w, ._5ocx, ._5i6q, ._1suk, ._43f9 a, ._3d0
{color:var(--text-color-second, #979797)!important}

._579m, ._58cm, ._58cn ._58cl, ._1wfl, ._387k, ._5p0a._4cbc, ._5xhp ._38h, ._53iv a, ._58mk a, ._58mv a, .mlm._58ms, .fbCalendarGrid .fbCalendarDayItem:hover .fbCalendarItemDayNumber, .fbCalendarGrid .fbCalendarGridToday .fbCalendarDayItem:hover .fbCalendarItemDayNumber, ._l58, .UFILinkBright
{color:var(--text-color-blue, #8ba2d2)!important}

._568z span, ._2nlt, ._3olv._2nlt, ._34mw:after, ._26ht
{background-color:var(--text-color-green, #42b72a)!important}

._579l, ._1k2j, ._58mf div._5634 ._5dba, ._14-5, ._59r-, #fbpoptsdiv tr[style*="background-color"] label, #fbpoptsdiv tr[style*="background-color"] td, #fbpoptsdiv tr[style*="background-color"] b
{color:var(--text-color-red, #f13f3f)!important}



/*-------------------- blocks color --------------------*/
/*bg-background*/
._4k_u, ._2ids:first-child, ._46z8, ._9ms, ._37e2, ._37e1, ._1o_c, ._4i3n ._291t._1kp2, ._2-sm._xah, ._2lqg, .g, ._201w, ._4vb9 ._2fp9>span, li._1a_0:hover ._2fp9>span, ._3wxb ._2fp9>span, li._1hgw ._2fp9>span, .mToken, #addMembersTypeahead .mToken.mTokenWeakReference, #root .appCenterSimilarApps, ._1aau, .acg, .touch ._4gj2 div._5y57::before, .touch div.sharerSelector, .tlBody, #timelineBody, .timelineX, .timeline .feed, .timeline .tlPrelude, .timeline .tlFeedPlaceholder, ._4e8n, ._4_xl, .touch ._u2c, .jewel .flyout, ._3bg5 ._52x1, .touch .structuredPublisher, .touch .groupChromeView.feedRevamp, ._2v9s, ._3vg, ._2d14, body.plugin, ._57y-, ._zw8, ._3_wz ._3_wy, ._3_wz ._3_wy:hover, ._3v_p, ._3v_p .page, .section.sayanything, .section#texts, .section#hdcalls, .section#photos, .section#location, .section#voicemessages, .section#groups, ._r6n, ._w_q, ._2au_, ._5hp4, ._1ciq, a[role="button"]._51ii, ._1s_j, ._55l3 ._wrr label._58ak, ._55l3 ._58ah ._58ak, ._55l3 ._3ct8._58ak, ._5sic, ._7r2 .__5y, ._4d3w._u77 .fbPhotosSnowboxFeedbackInput .UFIRow, ._5mac, ._18ai, body._3nhg, ._h0a, ._7a4, ._7a4 ._7a1, ._7a5, ._55w7, ._2rhx, ._34yh, ._b1z, ._1olv, ._3rt_ ._5yv2, ._4tql, ._2qix, ._2_2t, ._4a9z, button._5qi6, ._3rj-, ._55w7, ._zd1, ._4hxi, .timelineLayout, ._2req, ._344_, ._3iue, ._3ckq._2v9s, ._4tvm, ._53mo, ._1sdi, ._io, ._1jr2, ._2vt0, ._59s7, ._5pr2 .fbSidebarGripper, ._4gd5, ._5a5j, ._26oo, ._146r, .__tw div.jewelHeader, .timelineLayout, ._585- ._4w98._4w97:hover, ._tae, ._3col, ._21dp ._7fw, ._2qe3, ._53jh, ._416u ._56ji, ._3gr, ._454y ._1mj0, ._3gr ._5283, ._4lh ._2-d1, ._oe1, ._3c40, body._5tuq, ._4sjs ._517h, ._59pe:focus, ._59pe:hover, ._4-u5, ._4d3w._u77 .fbPhotosSnowboxFeedbackInput, ._41nt, ._k1:hover, ._1fa6 ._3fbp, html ._4lh, ._4lh .fbTimelineTimePeriod, body._131._6nw, body._131._5vb_, html ._5uwm, ._4lh .fbTimelineSectionExpandPager .uiMorePagerLoader, .uiMorePager .uiMorePagerPrimary:hover, div._3d9x, ._59_o, ._4lh .fbTimelineCapsule li.anchorUnit:last-child, .__tw .jewelHeader, ._3z2, ._416u ._4ixr ._3smp, .uiButtonDepressed, ._4lh .fbTimelineSectionLoading .loadingIndicator, ._ors .__tw .jewelFooter.jewelFooter a, ._44b6:hover, ._44b1:hover, ._4lh .lifeEventAddPhoto:hover, .fbChatSidebar ._517h,._569t ._54ng, ._6lh ._6li, .hasLeftCol #pageFooter, ._40pv, ._59pe:focus, ._59pe:hover, ._4h7j, ._4jy1, .uiButtonOverlay, a.uiButtonSuppressed.uiPopoverButton:hover, ._53ih._2uy0 ._ttk, .uiButtonOverlay:hover, ._5vb_, ._5vb_ #contentCol, ._43q8._49cb, ._1tm3 ._4-h7:hover, ._1fa6 ._5wkw,  ._2yix ._12wb, ._2nb ._2n3 .timestamp, html ._55r1, ._4-i0, ._7si, ._4__a, ._3186 ._m_1:hover, ._5vwy ._13xf, ._2tk, .fbChatTypeahead ._4p-s, ._1sk6, ._1eds, ._517h._42fs, a.uiButtonSuppressed.uiPopoverButton:focus, .uiButton:active, .fbNub._50mz.highlightTab .fbNubButton, .fbNub._50mz .fbNubFlyoutTitlebar, ._1r7y ._1wc- button, ._55fl, ._5aeq:hover, .uiButton:hover, .uiWashLayoutGrayWash, form.async_saving ._4jy1, a.async_saving._4jy1, ._4jy1._42fr, ._5u1r, ._4te4, ._ors ._3nzk .fbRequestList .listGray, ._56zg:hover, ._18c4 ._5aeq:hover, ._5ddi, ._5y-s, ._202.selected, ._42me, ._2x8l, .fbCalendarOverlayHeader, ._5i8p, ._4a6g, ._4m5i, ._24s8._24s8, ._59fh label ._59fj, ._82p, ._41mp, li._2qm, ._4wu, .fbTimelineStarGridSeparator h4, .fbTimelinePhotosScroller .async_saving, ._59s7 ._5r5r, ._5rzk, ._5rzl, ._5vwz ._13xf, ._7lt ._7lw, ._5yut, ._4heb, ._34_i, ._4hef, ._55lx, ._1dq, ._435m, ._5r_g._1f9c, ._4sp8, ._4wzs, ._15kw ._2u8i, .fbTimelineSection, .sidebarMode .webkit #globalContainer .fixed_elem, .sidebarMode .webkit #globalContainer .fixed_always
{ background-color:var(--bg-color-background, #373737);
  -webkit-transition: background-color var(--hover-timeout, 0.5s) ease;-moz-transition: background-color var(--hover-timeout, 0.5s) ease;-o-transition: background-color var(--hover-timeout, 0.5s) ease;transition: background-color var(--hover-timeout, 0.5s) ease; }

#fbpurityinfobar, ._yac, .page, ._3nl, ._1hwg label, ._3v72 label, ._50dz div, ._4b7j, body._3nhg:first-of-type div
{background-color:var(--bg-color-background, #373737)!important}

body, ._4m78, ._5hpq, ._416u ._5q9i
{background:var(--bg-color-background, #373737)}

/*bg-first*/
 ._4ejc, .fbFeedTicker .fbFeedTickerStory, ._320_, ._36t1, ._5-rl, ._b4q, ._3d_e, ._4sym, ._4ikh, .fbCalendar, .fbCalendar #contentCol, ._1r_y ._1r_z, ._ut_, ._utn, ._5suw, ._h7n, ._1u35, ._5yq9 ._5yqa .UFIRow, ._5yq9 ._4iil .UFIRow, ._5yq9, ._5yoj, ._3ils, ._484w, .touch ._4_xl ._5c9u, ._32ff, ._5ge1, ._i3y, ._ubn:nth-child(odd), ._3w-j, ._x90, ._2utd, ._5yhn, ._3uy4, ._5id1, ._oan, ._14vf ._33v2, ._14vf ._2x3m, ._3sj7 ._ohe, .touch ._59tu, #root .appCenterAppInfo, #root .appCenterDetailViewHeader, #root .appCenterPermissions, #root .appCenterScreenshots, ._55wm, .touch ._1f9d, .touch ._3tap, ._10c_ ._2jl2, .touch ._1oby ._5c9u, .touch ._6-l ._6-p, ._5xuj, ._1sv1, ._bjn, ._bjg, .touch ._50pc, .touch ._4_d0, .touch ._3f50, ._4u3j, .jewel ._4l9b, input, .acw, .touch ._51v6, ._1ih_, ._skt, ._5f28, ._59e9, ._rm7, ._1p70, .touch .structuredPublisher .btn, .touch.x2 .structuredPublisher .btn, .touch ._5y57 ._5y5c ._5c9u, .touch ._4gj3, ._2zh4, ._15ks, ._52z5, ._15n_, ._55wo, ._5dxq, ._5dxu, .invite_history .invite_history_stats, ._1jf6, ._4vb8._4vba, ._50ex, ._fk2 ._19vg, #contentCol, ._4p8x, ._k7g, ._1drm, #booklet #pageheader, ._3wvs, ._3ad-._zz9, ._1og-, ._pu-, ._5k7c, ._erp, ._zw7, ._4-ss>tbody>._1isx:nth-child(even):hover>td, ._4-ss>tbody>._1isx:nth-child(even):hover>th, ._4-ss>tbody>tr:nth-child(even)>td, ._4-ss>tbody>tr:nth-child(even)>th, ._5c1q, ._4mq3 .fbNubButton, ._1nc6 ._5w1r, ._1tuw, ._r6o, ._5140, ._3rnu, ._4h3e, ._4eys, ._4h3c, .escapeHatchMinimal._4__g, ._3z4s, ._wza, ._5yb1, ._1f9, ._474a, ._2h00, ._4wbg, ._3__- ._1miz, .uiMediaThumb i, ._2po3, .fbPhotoTagger .faceboxSuggestion, .fbPhotoTagger .typeaheadBackdrop, .fbPhotoTagger .uiTypeaheadView, ._5h_u ._5ei4, ._54j7, ._1e2l ._54j2, ._7r2, ._3bg, ._33_b, ._33_l ._33_i, #fbProfileCover .coverNoImage, ._6-d._6-d #fbProfileCover ._37fg, ._r0, ._6fm, ._2tga, ._4t3w, ._qee, ._6xs, ._1v3h, ._4kg._704._4ks, ._5b5o, ._1wde ._1wdf, ._2sy- ._3yz4, ._rce[aria-checked="true"], ._ox6, ._4adh, ._5clo, ._31qy, form.async_saving ._42fu, a.async_saving._42fu, ._42fu._42fr, ._42fu._42fr:active, ._42fu._42fr:focus, ._42fu._42fr:hover, ._3bzd, ._2orw, ._214n, ._45jg, ._2t7w._2t7x:hover, ._2t80, ._7a7, ._5g7l, ._4wm6, ._5k-2, ._4tvm._4tvn, ._5jd0, button._2_2s, ._5qi3, ._4h1p, ._1z0-, ._5jsn, ._7a5, ._4x1u, ._1mny, ._7a7, ._s65, body ._58_u>tbody>tr._1w1o>td, ._2ubg, ._4u-c, ._zd0, ._7go, .UFIInputContainer, ._3s4x, ._5dsl, .fbEditCover .notchInner, ._5z7e ._i8v, ._3v4j a.uiMorePagerPrimary, ._5z7e ._i8v:focus, ._5z7e ._i8v:hover, ._5z7e ._i8v:active, ._5z7e ._i8w, ._5z7e ._i8w:focus, ._5z7e ._i8w:hover, ._5z7e ._i8w:active, ._5gmv, ._5z7e ._i8v, ._42zw._3cdj, ._146s ._5dwo, ._5epx, ._58b4, ._3-9a, ._2h4b, ._5nw8, .uiOverlayContent, ._1-e0, ._5cmi, ._1nc7 ._3e7u ._1ekr, ul._-f7 li, ._2l_0 ._438u, ._2l_0 ._4zmf, ._23d6, ._33gf ._33gg, ._10yq, ._5xjz, ._174o, ._14vf ._33v2, ._55ii, ._i41, ._9ib, ._52g0, ._5nzo, ._58do, ._5k4a, ._46cs, ._5acm, ._3nmk, ._26op, ._4fx6, ._58-8._58zo, ._17m2, ._4uq4, ._29__, .messagesContent, #create_frame .facade, .uiScrollableAreaContent, ._33c, .uiMenu .checked a:active, ._z6x ._4ng1, ._5uco, ._4ee_ ._3nb9, ._yv-, ._n20, ._d9-, .uiMenu .checked a:focus, ._p6e, ._3nzl .friendConfirmedNotifsUnread, ._3nzk .fbRequestList .listGray, ._4-u8, .__tw li.jewelItemResponded, ._1g5v+._4arz, ._ipo, ._57d8, ._g3h, ._5yk1, ._1qmt ._12wb, ._5esl td._5esw, .UFIRow, ._5esl td._5esm:first-child, ._3sgj::before, ._3sgj::after, .fbChatSidebar, html .fbProfileEditExperiences ._53d9, .fbProfileEditExperiences .editExperienceForm, #headerArea .megaphone_location_new_group_profile .megaphone_box, ._53hi ._54j3, ._30a8 ._54j3, ._1e2l ._54j3, ._28ez ._54j3, ._30a8 ._54j2, ._3zsi, ._70l, ._59_m, ._3nm, ._4te0, ._3mds, ._58ak, ._4oes, ._3coj, ._517h, ._59pe:focus, ._59pe:hover, .uiTypeahead, ._4d3w._u77 ._3t09, ._z6j, ._1ho1, ._5z0p, .fbNub._50mz .fbNubFlyoutTitlebar:hover, .fbNub._50mz .fbNubButton:hover, ._5pw1, ._49or, ._t, ._kj3, ._3kvq, ._8p3, .fbNub._50mz.highlightTitle .fbNubButton, .fbNub._50mz.highlightTab.highlightTitle .fbNubButton, ._585r, ._5vb_ ._dcs .__c_, ._5vb_ ._6l-, ._328i, div._4-i2, ._5ot-, ._4n06 #rightCol, ._2w3>._30f, ._1nc7 ._5w1r, .fbTimelineSelector .fbTimelineSelectorButton, .uiBoxGray, .fbChatSidebarMessage, ._1u6r:hover, ._1u6r:focus, ._5vsj .UFIRow ._5vsj._5vsj._5vsj, ._1jyk, ._1fa6 ._3fbq, .fbTimelineStickyHeader .back, ._2l5f>.uiSearchInput, ._5vb_ ._3sod, .pagesTimelineLayout ._3sod, ._6nw ._3sod, ._4f3b:hover, ._1lor, ._1lot, ._4f3b:focus, .uiBoxWhite, ._2iwq div, .UFICommentPhotoAttachedPreview, ._5inf, ._ksg, ._1rs, ._3j5, ._3cz, .uiHeaderSection, .uiSideHeader, form.async_saving ._517h, a.async_saving._517h, ._517h._42fr, ._5r8a._5r8b, ._6-d #fbProfileCover ._37fg, .fbProfileBrowserResult.scrollable.threeColumns, ._8r7, ._18su ._18c4, ._5u_6._5wcf, ._5voi._5wcf, ._5xmz._5wcf, ._1_cb, ._6z- .uiSideNav .selectedItem>.item, ._6z- .uiSideNav .selectedItem>.subitem, ._26y3, ._9ot:hover, ._5yfu, ._9fi .uiSearchInput, ._9fi .uiSearchInput span, textarea, ._8-b ._26y1, .fbSettingsList a.fbSettingsListLink:hover, ._5vsj .UFIAddComment .UFIAddCommentInput, ._5vsj .UFIAddComment .UFIAddCommentInput._1osc, ._5hto, ._1l1t, ._4uyg, .uiSideNav .selectedItem .item, .uiSideNav .selectedItem .item:hover, .uiSideNav ul .selectedItem .subitem, ._1eu-, .uiWashLayoutOffsetContent, ._20h0, .uiSideNav .highlighted .item:hover, .uiSideNav ul .highlighted .subitem:hover, ._39y9._39ya, ._3q73, ._2jse ._-sl, ._1f7_, ._ui4, ._5960, ._5kxe, ._3w-8, ._5i-7, ._30d, ._5ww7._5ww9, .pop_content .dialog_summary, ._dut, ._2eg_, ._3x6b, .pop_content .dialog_content, .fbCalendar.fbGroupCalendar, .fbCalendar .fbCalendarHeader, ._5cml, ._4-9q, ._42-4, .generic_dialog div.dialog_loading, ._jlw, ._jl-, ._2ysc .UFIList, ._5w40.fbEventHeader, .uiBoxLightblue, ._5yz-, ._3f-h:hover, ._3f-h._3f-i, ._1v0n:hover, ._2yaa:hover::after, ._8ue::after, ._2yap._2yaa::after, ._2yap ._2yaa::after, ._ab4 ._3yv8._5aer ._5aeo, ._3nj ._gl, ._3ni ._gl._498, ._3q96, ._3q98:not(.hidden_elem) ._3q99, ._4odm::after, ._9zl, .fbxPhoto .fbPhotoImageStage .stageContainer, ._5ww7._5ww8, ._56w3, ._5yud, ._2hi3, ._5yuc, ._202, .fbCalendarGridRoot .fbCalendarBox, .fbCalendarGrid .fbCalendarGridRow, .fbCalendarOverlay .fbCalendarOverlayContent, ._39k2, ._39k5, ._1gtx, ._1tik, ._4lmi, ._1knb, ._17gf:hover, ._pop:hover, ._5f7s, ._59fh label:hover ._59fj, .fbNub._50mz.highlightTitle .fbNubFlyoutTitlebar, ._270u:hover ._5x8v, ._5r5i ._5r5g, ._5iwm ._58al, .fbChatSidebar, ._5f9g, ._3n00._2kir, ._55ly, ._g1w, ._g1z, ._4heb ._1mie, .fbNubFlyoutHeader, .fbNubFlyoutBody, .fbNubFlyoutFooter, .fbNubFlyoutAttachments, ._38xr ._54nf ._1d9r, ._hh7, ._4eby, ._38jq, ._2y8_, ._15kw ._2rr4, ._5esl td._5esm:first-child, ._5esl td._5esw, ._5esx ._58ak, ._awf, ._3fik, ._289u, .fbEventHeader #fbProfileCover .coverNoImage, .uiLayer._1lwq ._3ixn, ._3bzc, ._2x8p, ._1pig, ._2x8q, ._2x8x, ._u_3,  ._2s1x ._2s1y, .fbTimelineTopSection, ._ors ._33c, ._16ve
{ background-color:var(--bg-color-first, #2a2a2a);
  -webkit-transition: background-color var(--hover-timeout, 0.5s) ease;-moz-transition: background-color var(--hover-timeout, 0.5s) ease;-o-transition: background-color var(--hover-timeout, 0.5s) ease;transition: background-color var(--hover-timeout, 0.5s) ease; }

._2s23 ._2nx_, ._2-gy, #u_17_p, ._5wpt, ._25q1, ._2vi3, ._cx6, ._271k._1qjd._2u6e, .uiTypeahead .selected, ._2cl8, ._4zsl, ._3p9 th, ._4a6m, ._4u-c._1pz6
{ background-color:var(--bg-color-first, #2a2a2a)!important;
  -webkit-transition: background-color var(--hover-timeout, 0.5s) ease;-moz-transition: background-color var(--hover-timeout, 0.5s) ease;-o-transition: background-color var(--hover-timeout, 0.5s) ease;transition: background-color var(--hover-timeout, 0.5s) ease; }

._1n-x, ._22ck, ._1xy2, ._2yix, .fbIndex .gradient, ._1a8t, ._1mib, ._1mib ._4h2m
{ background:var(--bg-color-first, #2a2a2a);
  -webkit-transition: background-color var(--hover-timeout, 0.5s) ease;-moz-transition: background-color var(--hover-timeout, 0.5s) ease;-o-transition: background-color var(--hover-timeout, 0.5s) ease;transition: background-color var(--hover-timeout, 0.5s) ease; }

/*bg-second*/
html ._5-vp ._i43, html ._i44, ._2w6x, ._bet, ._3d_2, ._2-sm._xag, ._449j, ._3058._hh7, ._5zeb, ._4qxr button, ._202t, .SurveyRadioCheckbox, ._5aov ._5k6- ._5k6_, .fbDockChatTabFlyout ._2v5j, ._tzi, ._22zr, ._206m .fbNubFlyoutTitlebar, ._585- ._4w98, html ._5v3q > ._3yll, .__wu ._539-.roundedBox .uiSearchInput.reDesignedInput button, ._55d0, ._6fk ._-ld, ._sr8, ._3mdp, ._5zjh, ._3bfq, ._29d1, ._cd2, ._5y4p, ._5gio, ._3ohz, ._50ig, ._3sj7 ._ohf, ._5as2, ._5as0, .touch ._5c5b, .touch ._5c58._5c5f ._5c5b, .touch .mTypeahead .jx-result, .mTypeahead .jx-typeahead-results, ._42b6._42b6._42b6, .sharerAttachment, .touch .al._5lm6, .touch .al._5dka, .touch .al._4_00, .touch .al._5jl7, ._uww, ._vqv, .jewel .flyout .more, ._3bg5 ._53_-, ._qio ._4it1, .invite_list, .invite_history .menu_block, ._2l1h, .followOptinPromptTimelineCollections, ._4dyr, ._s79, ._1anm, ._1y1i, ._2znk, ._yl8, ._3g_t, ._5c1p, ._3g_u, ._5ig0, ._57z0, ._57z1, ._2iji, ._3-nt, ._mkb:nth-child(even), ._2jv-._4aq3 a, body:not(.UIInternPage) a.buttonWhite.buttonWhite, ._3s-4, ._5hy2 ._5hy8, ._5hy2 ._43dh, ._4kf5, ._2mm3 ._2_bh ._509o, ._2mm3 ._2_bh ._509o:hover, ._6dh ._509o, ._6dh ._509o:hover, ._ml.contentAfter::after, ._3o_h::after, ._2yaa ._2yau::after, div._5a8u, ._2tga.active, ._206m .fbNubButton, .uiMediaThumb, ._70x, ._48g0, ._4iqg, .fbStarGrid .uiMediaThumb i, ._56zg._yt-, .__wu .roundedBox .smurfbarTopBorder, .uiSearchInput, .__wu .roundedBox .uiTypeahead, .__wu .roundedBox .smurfbarBottomBorder, ._22cj, ._22cf, .uiTypeaheadView .bucketed .header, .FlyoutFriendListMenuNUX, ._15s0.current>a, ._15r_, ._2tga, ._5gkp, ._1l-e, ._2g5i ._2g5l, ._2g5m ._2g5x, ._5vnu ._5vnv, button._45sv, button._2_2s:hover, button._5qi1, ._3upg, ._3upg .UFIRow, body._4c1z ._1ewm, ._2rf7, ._io, ._3nb6 ._3nb9, ._3w_g, ._83k, ._57f, ._2xo5 ._zd2, ._zd2, ._5ykn, ._1qjo, ._santanaDashboard__other-apps-buttons, ._5rvc, ._5rva, .inputtext, ._53uz, ._4ee_, ._zpj, ._sg1, ._247o, .friendBrowserPhotoCrop, ._21x_ ._1dc8, ._1r50, body ._5nwo, ._3s1y, ._2zl1, ._128p, ._2dg5, ._586z:hover, ._2yaq, ._586x, ._5jq0, li._4v63>a, li._4v63>a:hover, .uiPillButtonSelected, ._5y6n, ._1ev3, ._1ev3, ._34x4, ._4bo2, ._19yt, ._1y2q, ._3u1w, ._frp._frp, ._1riv, ._33v2, ._4vb8, ._sig, ._55m4, ._g_v, ._5wpr, ._2oof, ._1da8, ._144t, ._9i5, ._58do ._58dq, ._5awc, div._42i .verbText, ._5t_y ._1dsp, ._5pw9, ._5c6j ._3smp, ._4sol ._5dwa, ._4ee_._4ee_ ._2s1y, ._3g4u, ._4-sv, ._5h8b ._5dwa, ._4-ss>*>tr>th, #create_frame .box, .uiTypeahead, ._3uh4 ._3uh5 ._3uh7, ._58mf .uiStickyPlaceholderInput, .mleFooter, ._54t9, ._3cql, ._6wq, ._6ws, ._5l37, ._d3b, .PlacesTypeaheadViewPopulated, .mlePhotoButtons .mlePhotoButtonLink, ._5s0h, .fbNub._50mz .chatAttachmentShelf, ._xah, ._1cx1 ._5g_r:hover ._m_1, ._1cx1 ._m_1:hover, ._58mq select, ._m_1._3x6w._1pn-, ._m_1._3x6w._1pnv, ._m_1._3x6w._1pnt, .uiBoxYellow, ._m_1._3x6w._1pnz, ._599r, ._3ubp, div.uiTypeaheadView li.calltoaction, div.uiTypeaheadView li.browseUpsell, div.uiTypeaheadView li.calltoactionV2, div.uiTypeaheadView li.calltoaction, div.uiTypeaheadView li.browseUpsell, div.uiTypeaheadView li.calltoactionV2, ._5vsj ._1g5v+._4arz, ._2xdn, ._2246, ._alf:hover, ._5vsj .UFIRow, ._558b ._54ng, ._3rwl, ._396_ ._58xi, ._5atu, ._j-q, ._1a_t ._1fm0, .uiMentionsInput .mentionsTextarea, .uiMentionsInput .mentionsTypeahead, .uiMediaThumb, ._1iup, .uiButtonGroup, ._5vsj._5vsj._5vsj, ._5vsj.UFIContainer .UFIReplyList .UFIRow, .fbNub._50mz .fbNubFlyoutBody, ._ors .__tw .uiScrollableArea li>a:focus, ._4jy2, ._42fu:hover, ._ors .__tw li:hover>.anchorContainer>a, ._ors .__tw li>.anchorContainer>a:focus, ._5a5j, ._1rw, ._5vsj .UFIRow._4204, ._585-, ._6m2, ._517h:hover, ._3com, ._6-7:hover, ._33c ._33e:focus, ._g6 .uiMorePagerLoader, ._g6 .uiMorePagerPrimary, ._kv:hover, ._kv, .uiButtonConfirm, ._1elp, ._135u, ._30_7, .emoticonsPanel .panelFlyout, ._4mq3 .fbNubFlyoutTitlebar, ._4mq3 .uiScrollableArea, ._4t2a, ._2yix ._58rn, ._4mq3 ._55ln:focus, ._4mq3 ._55ln:hover, ._4mq3 li.selected ._55ln, ._4mq3 .fbNubButton, ._2-2d, ._xag, ._3t3, ._5plv .uiSideNavAux:hover ~ .item, ._5plv .openToggler.uiSideNavAux + .item, ._5vb_ ._5plv .uiSideNav .item:hover, ._5vb_ ._5plv .uiSideNav .item:focus, ._5vb_ ._5plv .uiSideNav .item:active, ._5vb_ ._5plv .uiSideNav .loading .item, ._5plv .uiSideNav .selectedItem .item:hover, .uiMenu, ._3l4n, ._5hpw ._5hpx ._5hq1:hover, ._5hpw ._5hpx ._5hq1:focus, ._5vf h3.uiHeaderTitle, ._5vf .uiHeaderActions, .uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, ._17gb, .uiButtonSuppressed:hover, html .uiTypeahead .uiSearchInput, .fbTimelineFeedbackActions,  ._22sv, ._cue, ._6z- .uiSideNav .item:hover, ._6z- .uiSideNav .subitem:hover, .inputpassword, ._iw3, ._585n, ._3m75 .selectedItem ._5afe::after, ._3m75 .sideNavItem:hover ._5afe::after, ._3fig:hover, ._585- ._4w98:hover, .faceliftWelcomeBox .fbxWelcomeBoxSmallRow:hover::after, ._uy6>li._19fy:hover, ._24k, ._64f, ._64f a, .uiBoxRed, ._ors .__tw .friendConfirmedNotifsUnread, ._5n2s, .UFIRow, ._ors .__tw li.jewelItemNew>.anchorContainer>a, .UFIAddComment .UFIAddCommentInput._1osc, .pop_content h2.dialog_title, .pop_content .dialog_buttons, ._55r3, .openToggler > .uiButton.uiPopoverButton:hover, ._4idm, ._1cx1 ._ei_, ._6z- .uiSideNav .selectedItem>.item:hover, ._6z- .uiSideNav .selectedItem>.subitem:hover, ._4o-g:hover, ._36b8, ._59fh, .openToggler > .uiButton.uiPopoverButton, .openToggler > .uiButton.uiPopoverButton:active, ._5pk3 li:hover, .openToggler > .uiButton.uiPopoverButton:focus, ._4idn, ._58d6 .ego_x, ._3cht .text_exposed_link, .UFIReplyList, ._3s18:hover ._3s19, ._3s1a, ._4xlh, ._18bd, ._3_gg ._28_o, ._3sod, .uiTypeaheadView ul, ._1iyu, ._4ag3, ._3su, .fbCalendarGrid .fbCalendarDayItem:hover, .fbCalendarGrid .fbCalendarGridToday .fbCalendarDayItem:hover, .fbCalendarOverlayActions, .__wu ._539-.roundedBox .uiSearchInput input, .fbCalendarGrid .fbCalendarGridCellEmpty .fbCalendarDayItem:hover, ._4lmi ._1bv2, ._4lmi ._19ik, ._4lmi ._19ii, ._18_m, ._2kml, ._5fez, ._xww, ._d63, ._4jdr:hover ._1t0_:after, ._1t0v ._1t0_:after, ._1t0-:after, ._3ikm._3ikw, ._4xda, ._5njd, ._42me:hover, form.async_saving .uiButton.uiButtonConfirm, ._1yw, ._1qqr, ._1_-t, .uiButtonConfirm.uiButtonDisabled, ._5plv .uiSideNav .item:hover, ._5plv .uiSideNav .loading .item, ._5plv .uiSideNav .item:hover .uiSideNavCount, ._2a3s,   ._2nj.blankComposeState, ._4wq, .uiTokenizer, ._55v0, ._50-v.openToggler .fbNubButton:hover, ._50-v.openToggler .fbNubButton, ._1nme, ._2ll4, ._5r_g._1f9c, .__tw .jewelFooter a, ._4-fq, ._38xr ._38xu, ._nd_ ._hh7, ._nd_ ._hh7:active, ._nd_._-5k ._hh7, ._12zw, ._225b, ._33p7, ._1uwz, ._2f5n, ._55r1._1tp7:not(:focus), ._gn4, ._1pih, ._33c:hover ._33e, ._53ij, ._4ewz, ._30zy
{ background-color:var(--bg-color-second, #312d2d);
  -webkit-transition: background-color var(--hover-timeout, 0.5s) ease;-moz-transition: background-color var(--hover-timeout, 0.5s) ease;-o-transition: background-color var(--hover-timeout, 0.5s) ease;transition: background-color var(--hover-timeout, 0.5s) ease; }

._5jn4, section._32l5, ._uwx, #fbpoptsdiv #photoopts tr[style], #fbpoptsdiv, #fbpoptsdiv #custextheader, #fbpoptsdiv #custextdesc, .highlight, ._3c2, ._3c4, ._4-ss>*>tr>th, .UFILastComment, ._5k47, .UFIComment, ._7yu li, ._2vl9, ._4283, ._1py_, ._ors .__tw .uiScrollableArea li:hover>a
{ background-color:var(--bg-color-second, #312d2d)!important;
  -webkit-transition: background-color var(--hover-timeout, 0.5s) ease;-moz-transition: background-color var(--hover-timeout, 0.5s) ease;-o-transition: background-color var(--hover-timeout, 0.5s) ease;transition: background-color var(--hover-timeout, 0.5s) ease; }

.fbNubButton, ._5bv1, ._6wl
{ background:var(--bg-color-second, #312d2d);
  -webkit-transition: background-color var(--hover-timeout, 0.5s) ease;-moz-transition: background-color var(--hover-timeout, 0.5s) ease;-o-transition: background-color var(--hover-timeout, 0.5s) ease;transition: background-color var(--hover-timeout, 0.5s) ease; }

/*bg-hover*/
._2u6_, ._33w3:hover, ._5-rl a:hover, ._9mu, ._16bu, ._4saq, ._4sym:hover, ._4ikh:hover, ._4i3n ._291t._1kp2:focus, ._4i3n ._291t._1kp2:hover, ._2-sm._xah:focus, ._2-sm._xah:hover, ._2-sm._xag:focus, ._2-sm._xag:hover, ._5zeb:hover, ._utp:hover, ._utv:hover, ._3nwx:hover, .SurveyRadioCheckbox.selected .InputBackground, .SurveyRadioCheckbox.selected, .SurveyRadioCheckbox:hover .InputBackground, ._206m .fbNubButton:hover, ._585- ._4w98._4w97, ._3lji:hover, .fbMapCalloutMain, ._2le1:hover, ._5awg li:hover, .__wu ._539-.roundedBox .uiSearchInput.reDesignedInput button.btnSelected, ._1uhm, ._5t_y ._1dsq:hover, ._5-2t:hover, ._13iv ._5l37:active, ._13iv ._1k1p, ._13iv ._5l37:hover, ._nlp:hover, ._594b, ._87i:hover ._594d, ._29d1:hover, ._4qq2, ._5y_z:hover, ._3jv6, ._599n, ._4dw3 button, ._4dw3 button._42fr, ._4dw3 button:hover, li._3wxb, li._3wxb:hover, li._1hgw, li._1a_0:hover, li._1a_0._4vb9, ._57e6:hover, ._2cpp, ._4qax, ._u2d, ._3c5x, .mTokenizer .jx-tokenizer, ._bji, .touch ._56bv::before, .touch.wp.x1-5 ._56bv::before, .touch.wp.x2 ._56bv::before, ._4756, .aclb, ._56bt, ._56bt ._58gn, a._56bt, .touch ._56bu::before, .touch.wp.x1-5 ._56bu::before, .touch.wp.x2 ._56bu::before, ._5c0e, ._u42 ._55fj, ._59te.popoverOpen, ._59te.isActive, ._b8l:hover, ._3vdy, ._b8m, ._5pw1, ._2v5c:hover, ._1y1e:hover, ._569t ._54ne ._54nc, ._569t ._54nd._54ne ._54nc, ._pu_:hover, ._1ht3._1ht1, ._zw8:hover, ._3g_t:hover, ._5c1w.reply, ._5c1w ._5i3x, ._3-nt:hover, ._3g_u:hover, ._344_:hover, ._9jo ._54ne .uiLinkButton input, ._9jo ._54ne a.navSubmenu, ._9jo li.navSubmenu._54ne a, ._9jo li._54ne, ._m_1._3x6w._mwg, .policiesPolicy:hover, ._2_k6:hover, ._4h3e:hover, ._4h3e:active, ._4h3e:focus, ._4eys:hover, ._4eys:active, ._4eys:focus, ._4h3c:hover, ._4h3c:active, ._4h3c:focus, ._5f_8:hover, ._hh7._aol, ._6dh ._1dsq:hover, ._5nlo, ._5ssz ._zy_, ._4661>li._465-:hover, ._3933:hover, ._2tga.active:hover, ._2tga:hover, ._1pt_:hover, ._1v2t:hover, ._1fhw:hover, ._194v:not(._1yiw):hover, ._4-ss>tbody>tr:hover>td, ._4-ss>tbody>tr:hover>th, ._aqz:hover, ._1_-t:hover, ._rce:hover, ._owy ._oxb._ox6 ._oxc:hover, ._ox5 ._oxe, ._ox7 ._oxc, ._owy ._oxb ._oxc._oxe:hover, ._owy ._oxb._ox7 ._oxc:hover, ._owy ._oxb ._oxc:hover, ._3sod:hover, ._5clf:hover, ._4r_1:hover ._5a5j, ._5y02:hover, .uiButtonOverlay:focus, .uiButtonOverlay:active, ._4jy1:active, ._4jy1._42fs, ._25_a:hover, ._25_c, html ._5izh._5e4h, ._4j3_:hover, ._4j3_:focus, ._54xt, ._15s0>a:hover, ._2tga:hover, ._2t7w.highlighted, ._2t7w:hover, ._h0d, ._4wm8, ._3nba, ._5mfc:hover, ._5v-p, ._2g5i ._2g5l:focus, ._2g5i ._2g5l:hover, button._45sv:hover, button._5qi6:hover, button._5qi1:hover, button._2_2s:active, ._5jsn._5jso, ._47od, ._qio ._413w, ._b-o:hover, ._1y80, ._zd0 ._zd2:hover, ._30vj, ._1qjo:hover, ._por ._pot, ._poq ._pot, ._3v4j a.uiMorePagerPrimary:hover, ._3_-3.homeFixedLayout ._3r7c:hover, a._2jma:hover, ._2xh4, ._5itl:hover, ._42fu:active, ._42fu._42fs, ._5xc3:hover, ._4p2b:hover, html ._146s a:hover, .fbTabGridItem:hover, .fbTabGridItem:active, .fbTabGridItem:focus, ._128l ._128o, ._5gy2:hover ._5gy3, ._5itl:focus, a._5xx9:hover, ._4g6x, ._4ypb, ._mpz, ._26a7 ._26a8:hover, ._53th, ._5y6n:focus, ._5y6n:hover, ._5y6n._5y6o, ._5w27, ._5w24:hover, ._53ge, ._40m_:hover, ._338:hover, ._1riu:hover, ._5ugg, ._mqd:hover, ._3uh-, ._1v6t ._1mie ._m3c:hover, ._26hs, ._4kzr:hover a, ._4kzt:hover a, ._4kzr:hover, ._4kzt:hover, ._1v6t ._1mie ._4lo:hover, ._1v6t ._1mie ._m3c ._4h2m:hover, ._3lk2 ._52kr, ._riq, ._5hue>a:hover, #create_frame .box:hover .facade, ._4r_1:hover, ._yw7:hover, ._tzp, ._3uh4._21yg ._3uh8:hover, ._3uh4._21yh ._3uh8:focus, ._3cql:hover, ._yw7:focus, ._s39:hover, ._55y4 ._bui .selectedItem ._5afe:hover, ._5l37:hover, ._6wq:hover, .mlePhotoButtons .mlePhotoButtonLink:hover, ._55xn:hover, ._5u8u, ._xah:focus, ._xah:hover, ._1y2l li.jewelItemNew a.messagesContent, ._3etu, ._3etw, ._58zy, .fbNub._50mz .fbNubFlyoutFooter:before, div.uiTypeaheadView li.calltoaction.selected, div.uiTypeaheadView li.calltoactionV2.selected, ._5va0 ._44b2:hover, .multiColumnCheckable .anchor:hover, .groups_rhc ._4mr7 ._2pez, ._1m03 .uiMorePager .uiMorePagerPrimary:hover, ._5ugf, ._p0g.reconnecting, ._p0g.error, ._p0g.offline, ._p0g.notice, ._29_7 ._3czg ._2e-7 ._2e-1, ._29_7 ._3czg ._2e-7 ._2e-2, ._55y4 .uiSideNavAux:hover~._5afe, .UFIReplyList .UFIRow, .openToggler.uiSideNavAux+._5afe, ._5vb_ ._55y4 ._bui ._5afe:hover, ._5vb_ ._55y4 ._bui ._5afe:focus, ._42fu, ._42gx:focus, ._42gx:hover, ._5vb_ ._55y4 ._bui ._5afe:active, ._5vb_ ._55y4 ._bui ._5afd ._5afe, ._6-6:hover, ._9rx.openToggler, ._9ry:hover, html ._9rw._54ne ._54nc, .fbNub._50mz .fbNubFlyoutFooter, ._1bk-, ._9ox, ._4jy1:hover, ._5vb_ ._3sod:hover, ._4ar- ._3emk, .uiSearchInput .UFIAddComment .UFIAddCommentInput._1osc, ._4mq3 .fbNubButton:hover, .fbxWelcomeBoxSmall .fbxWelcomeBoxSmallRow:hover, ._4jy2:hover, ._55ln:focus, ._55ln:hover, ._2o49, li.selected ._55ln, ._2iwq, .uiSearchInput, ._2pt, ._k-:hover, .uiButtonConfirm:hover, ._4n9s, ._3ztx ._3ztw:hover, ._4mq3 ._55ln, ._4mq3 .fbNubFlyoutTitlebar:hover, ._8r7:hover, ._5hpx ._5hq2, html ._255s:focus, html ._255s._16jm, ._xag:focus, ._xag:hover, hr, ._3t3:hover, ._1nc6 ._d97, .fbReminders .fbRemindersStory:hover, ._4na3, ._kx, ._m_1, ._3od9 ._3odc, ._3bx9, ._38de, ._3186 ._5g_r:hover ._m_1, ._3cht .text_exposed_link:hover, ._4z-w:hover, ._27nv, ._3q9a, ._3s18 ._3c_:hover, ._5fvg ._3ala:hover, ._5fvg ._3ala:hover, ._2709:hover, ._40mk:hover, ._40mr:hover, ._40ml, .uiMenuItem a:active, .uiMenuItem a:focus, ._558b ._54ne ._54nc, div.uiTypeaheadView .selected, .fbCalendarGrid .fbCalendarGridCell.fbCalendarGridToday .fbCalendarDayItem, #facebook ._7xn._7xn, ._7xn, ._rb3, ._1t0_:after, ._4jdr._1t0v, ._4jdr:hover, ._50i7:hover, ._ypo span, .uiButtonConfirm.uiButtonDisabled:active, ._gx8 .img, .uiButtonConfirm.uiButtonDisabled:focus, .uiButtonConfirm.uiButtonDisabled:hover, ._270u:hover, ._580d:hover, ._3xd0:hover, ._3xd0:hover ._5xhn, ._324a, ._4ws .selected:hover, ._4ws .selected, .uiToken, ._2nb ._2ne .unreadHighlight, ._2nb ._2ne .unreadFading, ._5r8h:hover, #ci_compact_list .ci_compact_icon_holder:hover, ._3col, ._4sjs, ._31qi, ._g1w ._4li:hover ._4h2m, ._5mug, .__tw .jewelFooter a:hover, .__tw .jewelFooter a:active, .__tw .jewelFooter a:focus, ._hh7:active, ._-5k ._hh7, ._2i-c ._54ne ._54nh, ._2i-c ._54ne ._54nc, ._2i-c ._54ne, ._21es, ._14-8, ._558b ._54ne ._54nc, ._15kw ._1hzo, ._15kw ._2rr4:hover, ._558b ._54ne ._54nc, ._558b ._54nd._54ne ._54nc, .openToggler>._5vto._5vto, .openToggler>._5vto:hover, ._3xem:hover, ._50hx, ._50hx:hover, ._wrr label._58ak, ._5vsj .UFIRow.UFIUnseenItem:after, .openToggler>a._4-s1, .openToggler>a._4-s1:hover, .openToggler>a._4-s1:focus, .openToggler>a._4-s1:active, .uiSelector .openToggler .uiSelectorButton:hover, .uiSelector .openToggler .uiSelectorButton, .uiSelector .openToggler .uiSelectorButton:active, .uiSelector .openToggler .uiSelectorButton:focus, ._3gmf:hover, .uiSelector .openToggler .uiSelectorButton:hover, ._5w40.fbEventHeader.noCoverImage #fbProfileCover .coverImage::before, ._i5q ._2-mp, ._i5q ._gn3, .jewelItemNew ._33e, .__tw li.jewelItemNew, ._ors .__tw .uiScrollableArea li.jewelItemNew>a, ._hh7>span>a:hover, .uiSideNav ul .selectedItem .subitem:hover, .uiSideNav .item:hover, .uiSideNav .item:active, .uiSideNav .item:focus, .uiSideNav .subitem:hover, .uiSideNav .subitem:active, .uiSideNav .subitem:focus
{ background-color:var(--bg-color-hover, #3d3a3a);
  -webkit-transition: background-color var(--hover-timeout, 0.5s) ease;-moz-transition: background-color var(--hover-timeout, 0.5s) ease;-o-transition: background-color var(--hover-timeout, 0.5s) ease;transition: background-color var(--hover-timeout, 0.5s) ease; }

._5jn4:hover, ._2as-, ._5vb_ .home_right_column .fbFeedTicker .tickerStoryActive, ._5vb_ .home_right_column .fbFeedTicker .tickerStoryClickable:hover, ._15--, .uiButton._52nd, .uiButton._52nd:active, .uiButton._52nd:hover, .uiButtonOverlay._52nd, .uiButtonOverlay._52nd:active, .uiButtonOverlay._52nd:hover, .sideNavItem.selectedItem a, ._5afe:after, ._5abn, ._5vb_ ._5pr2 .fbFeedTicker .tickerStoryActive, ._5h2p, ._3egg._3egg, ._3thf, ._3j5h .uiTypeahead input, .fbCalendar ._5pr2 .fbFeedTicker .tickerStoryActive, ._1t4w ._5pr2 .fbFeedTicker .tickerStoryActive, .timelineLayout ._5pr2 .fbFeedTicker .tickerStoryActive, ._5vb_ ._5pr2 .fbFeedTicker .tickerStoryClickable:hover, .fbCalendar ._5pr2 .fbFeedTicker .tickerStoryClickable:hover, ._1t4w ._5pr2 .fbFeedTicker .tickerStoryClickable:hover, ._5pr2 .fbFeedTicker .tickerStoryActive, ._5pr2 .fbFeedTicker .tickerStoryClickable:hover, .timelineLayout ._5pr2 .fbFeedTicker .tickerStoryClickable:hover, div._211 ._213:hover, div._211 ._214:hover, ._2jse ._2jsf, ._4nqn, ._4p2a:hover, ._271k, ._3b62 label, ._47__::before, ._35zn
{ background-color:var(--bg-color-hover, #3d3a3a)!important;
  -webkit-transition: background-color var(--hover-timeout, 0.5s) ease;-moz-transition: background-color var(--hover-timeout, 0.5s) ease;-o-transition: background-color var(--hover-timeout, 0.5s) ease;transition: background-color var(--hover-timeout, 0.5s) ease; }

._4vhi textarea, ._5hua, .touch .btnC, ._5cni, ._5ecn, .touch .btnS, .touch ._590n, ._559a, ._559a:hover, .fbNubButton:focus, .fbNubButton:hover, .UFILikeSentence ._4ar- ._3emk, ._6wl:hover
{ background:var(--bg-color-hover, #3d3a3a);
  -webkit-transition: background-color var(--hover-timeout, 0.5s) ease;-moz-transition: background-color var(--hover-timeout, 0.5s) ease;-o-transition: background-color var(--hover-timeout, 0.5s) ease;transition: background-color var(--hover-timeout, 0.5s) ease; }

._3v96
{ background:var(--bg-color-hover, #3d3a3a)!important;
  -webkit-transition: background-color var(--hover-timeout, 0.5s) ease;-moz-transition: background-color var(--hover-timeout, 0.5s) ease;-o-transition: background-color var(--hover-timeout, 0.5s) ease;transition: background-color var(--hover-timeout, 0.5s) ease; }



/*-------------------- borders color --------------------*/
.fbFeedTicker .fbFeedTickerStory, ._3d_2, ._bez, .uiOverlayContent, .SurveyRadioCheckbox.selected .InputBackground, .SurveyRadioCheckbox.selected, .SurveyRadioCheckbox:hover, .SurveyRadioCheckbox:hover .InputBackground, .SurveyRadioCheckbox, ._2cct, ._206m .fbNubButton, #captcha_response, ._3vqv, .fbMapCalloutMain, ._5lbp, ._5k_u, ._1w9c, ._5suw, ._10sf, ._2lqg, ._5v3q ._4-eo::after, ._2-0o, ._3yjv, ._1dri, ._5p0r, ._5ge1, ._594e, ._4vhi textarea, ._29d1:hover, ._cc-, ._5kjv, #boosted_ccta_springboard ._4v1, ._e-8, ._50ig, ._4dw3 button, ._4dw3 button._42fr, ._4dw3 button:hover, ._5hua, ._2cpp, ._4qax, .mToken, #addMembersTypeahead .mToken.mTokenWeakReference, .touch .m_messaging_compose textarea.input, .touch ._1aj4, .touch ._52t1, .touch .btnC, ._ed_, .touch .btnS, #root .appCenterPermissions .appCenterPermissionsArea, #root .appCenterAppInfo .appCenterFriendsInfo, #root .appCenterAppInfo .appCenterDescription, #root .appCenterScreenshots, .mTokenizer .jx-tokenizer, .sharerAttachment, ._2t39, ._1ha, ._1sxb, ._bjg, .touch .al, .touch ._4_d0 ._4_d1, ._5ecn, ._4e8n, ._uww, .jewel ._usq, ._4756, .acw, .aclb, ._1ih_, ._gui, ._2s20, html .touch ._3c9g, ._2cis, ._3bg5 ._52x1, ._qio ._4it1, button._2_2s, ._5dxs, .invite_history .menu_block, ._2l1h, ._2l1j>div, .followOptinPromptTimelineCollections, ._1jf6, ._19vg ._5a8u, ._s79, ._1anm, ._1y1i, .uiButtonSpecial:hover, ._569t ._54ne ._54nc, .uiSearchInput, ._1drm._1b90, ._1drm._1ds4, ._3if7, ._pu-, body ._3-_v, ._err input, ._ers input, ._6wl, ._2wtx, ._5e8l, ._367l, ._5c1q, ._5cq9, ._559a, ._57yz, ._57-c table, ._57mb._3fw6 pre.prettyprint, ._1_8p ._1_8r, ._3jyk, .fbNub._50mz .fbNubButton, .fbNub._50mz .fbNubButton, .fbNub._50mz.highlightTab .fbNubButton, ._2nqa, .policiesPolicy:hover, .policiesPolicy, ._3pk7, ._3pk7 ._3pk6, body[dir="rtl"] input._ob6, body[dir="ltr"] input._ob6, ._5cie ._5cji, ._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory, .fbCalendar ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory, ._1t4w ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory, .timelineLayout ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory, .UIThumbPagerControl_First .UIThumbPagerControl_Button_Left, .UIThumbPagerControl_Last .UIThumbPagerControl_Button_Right, ._4w2s, ._3z4s, ._3z4t, ._3jte, ._wza, ._3-g8, ._2h00, ._4wbg, ._hh7._aol, ._kz1, ._2mm3 ._2_bh ._509o, ._2mm3 ._2_bh ._509o:hover, ._6dh ._509o, ._6dh ._509o:hover, .uiTypeaheadView li, ._mm, ._54kn, .__5y ._4p89, .__5y ._4p8a, ._33_l, ._5nlo, ._5ssz ._zy_, ._4mnq, ._2tga, ._2tga.active, ._2tga.active:hover, ._2tga:hover, ._5tlx, ._3o_h::after, ._1pt_, ._1pt_:hover, ._1v2t:hover, ._2yaa ._2yau::after, ._4pj4, ._qee, ._4iqg, ._5b5o, ._5b5o ._bm6, ._48g0, ._1wde ._1wdf, ._1wde ._1wdf:hover, ._1nj0 ._49u2:focus, ._1nj0 ._49u2:hover, ._2sy- ._3yz4, ._3sod:hover, ._4adh, ._4jy1:active, ._4jy1._42fs, ._5mac, form.async_saving ._42fu, a.async_saving._42fu, ._42fu._42fr, ._42fu._42fr:active, ._42fu._42fr:focus, ._42fu._42fr:hover, ._13, ._14, .FlyoutFriendListMenuNUX, ._4j_i ._4j_j, ._gn5, .PlacesTypeaheadViewPopulated, ._j-q, .groups_rhc ._4mr7 ._4mr8 a, .groups_rhc ._4mr7 ._4mr8 span, .__9u, ._u08, .fbNub._50mz .fbNubFlyoutFooter:before, ._2yvg, ._2tga:hover, ._h0a, ._5gkp, ._5v-p, ._4uyl ._1cb, ._44vw, ._5jd0, button._45sv, button._5qi6:hover, button._5qi6, ._5qi3, label._2_2r._58ak, button._5qi1:hover, button._2_2s:active, ._5jsn, ._5jsn._5jso, ._qio ._413w, ._4x1u, ._5xk5, body._4c1z ._1ewq, ._4xit ._b-o, ._b-o, ._3nb6 ._3nb9, ._58ak, ._1y80, ._5rvc, ._3a9j:before, ._42fu:active, ._7tw, ._23mm, ._42fu._42fs, ._2xh4, ul._-f7 li, ._1st, ._3s1x, ._2zl1, ._3s1y, ._4uiw, ._1-e0, ._586x, ._2dg5, ._1jr2, ._5nw8, li._4v63>a, li._4v63>a:hover, .uiPillButtonSelected, .suggestionsDivider, ._26op, ._3i2n, ._1ev3, ._5w21, li ._10ys, ._438u, ._4zmf, ._3u1w, ._76u .uiTypeahead ._76v, ._5c6j ._3smp, html ._58ak._1j5c, ._5nzo, ._46cs, ._5doo, ._58do, ._53ux, ._5pw9, ._1da8, ._4h2m, ._2r84 ._2r87, ._4pj5, ._3g4u, ._4-sv, div._5dwa+div._427x, ._3m75 .sideNavItem ._5afe::after, ._1nc7 ._3e7u ._1ekr, ._4g6x, ._585-, ._4ypb, ._yv-, ._3545, ._5uco, ._1474, ._3nb6._3nb5 ._3nb9, ._5kyp .action a, ._3uh4 ._3uh5 ._3uh7, .mlePhotoButtons, ._6wq:hover, ._p6e, ._55xn:hover, ._6wt, ._3nzl .contentAfter+.jewelFooter a, ._9c6._9c6, ._1iuo, ._tae, ._58zy, .fbNub._50mz .chatAttachmentShelf, ._3etu, ._3etw, ._58mq select, div.uiTypeaheadView li.calltoaction.selected, div.uiTypeaheadView li.calltoaction, div.uiTypeaheadView li.browseUpsell, div.uiTypeaheadView li.calltoactionV2, .uiBoxYellow, ._3egg._3egg, ._59_m, ._6f3 ._37-t ._6f6, .uiComboInput, ._3y89, ._58mf ._58mg, ._3gr, .menu_login_container .inputtext, .menu_login_container .inputpassword, .uiMediaThumb, ._1xh9, ._5pt3, .megaphone_box, ._1a_t ._1fm0, .multiColumnCheckable .anchor, .multiColumnCheckable .anchor:hover, ._517h, ._5ugf, ._4-u2, ._2yq ._4-u2::before, ._42fu, ._42gx:focus, ._42gx:hover, ._4fby, ._4jy1, ._5vsj .UFIAddComment .UFIAddCommentInput, ._5vsj .UFIAddComment .UFIAddCommentInput._1osc, ._31qf, ._4jy1:hover, html ._6-d .fbTimelineSection, .fbTimelineStickyHeader .back, ._4fzb, ._5va1, ._5vb_ ._3sod:hover, ._5vb_ ._3sod, ._5vsj .UFIAddComment .ReactLegacyMentionsInput .uiTypeahead, .openToggler>._5vto:hover, .openToggler>._5vto._5vto, div._9rv ._54ng, .uiBoxGray, ._1rw, ._416u ._56ji, ._5vsj .UFIAddComment .ReactLegacyMentionsInput .uiTypeahead .wrap, ._ors .__tw div.hasPYMK, ._2a1, ._59_o, ._5ra, ._ors .__tw div.friendConfirmedNotifsUnitAggregated, ._ors .__tw .uiScrollableArea li, ._3b ._3c, ._538q, ._rzn, ._4d3w._u77 .fbPhotosSnowboxFeedbackInput .UFIAddComment .UFIAddCommentInput, html ._4__g, ._2pt, ._z6j, .uiBoxRed, ._ors .__tw .uiScrollableArea li>a, ._ors .__tw .jewelFooter.jewelFooter a, .uiTypeahead .wrap, .uiSelector .uiMenu, .fbTimelineSelector .fbTimelineSelectorButton, ._2l5f>.uiSearchInput, .uiTypeahead, .uiBoxLightblue, ._4cbv, .tinyViewport ._5sqx, .hasBanner ._5sqx, ._4kt>li, ._4jy2, ._4jy2:hover, ._52c6, .UFICommentPhotoAttachedPreview, ._g6 .uiMorePagerPrimary:hover, ._k-, ._kv:hover, ._kv, .uiButtonConfirm, .uiButtonConfirm:hover, ._4ks>li, ._1lor, form.async_saving ._517h, a.async_saving._517h, ._517h._42fr, ._4mq3 .fbNubButton, html ._55r1, ._4oyq, ._kj3, ._416u ._4ixr ._3smp, ._5hpx ._5hq2, ._416u ._5q9i, ._2-2j, ._2-2d, ._qa1, .uiBoxWhite, ._2w3>._30f, ._1_cb, ._1lot, ._1qp6 .fbProfileBrowserListContainer .fbProfileBrowserListItem, html ._262m ._698, ._14b9 ._r95, ._14b9 ._gx6, ._52bu ._3ow-, ._517h:active, ._517h._42fs, a.uiButtonSuppressed.uiPopoverButton:focus, html ._5k35 ._5k3a, ._585n, ._59fh, ._59fj, a.uiButtonSuppressed.uiPopoverButton:hover, .uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, ._5yfu, .uiButtonSuppressed:hover, .uiButton:active, .uiButtonDepressed, .uiButton._52nd, .uiButton._52nd:hover, .uiHeaderNav, ._6z- .uiSideNav .selectedItem>.item, ._6z- .uiSideNav .selectedItem>.subitem, ._9fj, ._26y4.uiList>li, ._26y4 .uiList>li, textarea, .inputtext, .inputpassword, .fbNubFlyoutHeader, .fbNubFlyoutBody, .fbNubFlyoutFooter, .fbNubFlyoutAttachments, .hasLeftCol #contentCurve, ._526y, .uiInterstitial .interstitialHeader, ._3m75 .selectedItem ._5afe::after, ._1f83, ._3m75 .sideNavItem:hover ._5afe::after, form.async_saving ._4jy1, a.async_saving._4jy1, ._4jy1._42fr, ._d4t, ._4-9q, ._5kxd, .faceliftWelcomeBox .fbxWelcomeBoxSmallRow:hover::after, ._2l03, ._517h, ._59pe:focus, ._59pe:hover, ._3kvq, ._dcs:hover ._52c6, ._30d, ._5ewg ._5m65, ._5ww7._5ww9, ._55r3, ._kj3 .uiSearchInput, ._569t ._54nc, ._569t ._54ng, .openToggler > .uiButton.uiPopoverButton, .openToggler > .uiButton.uiPopoverButton:active, ._2o49, ._5i_t, ._5cml, .openToggler > .uiButton.uiPopoverButton:focus, .openToggler > .uiButton.uiPopoverButton:hover, ._4xbk ._40jq + ._40jq, ._5v3q ._5mxv, ._1mv9 ._3el6, ._4idn, ._5n25, ._jlw, ._5yk1, ._35sm ._4-lt, .UFIAddComment .UFIAddCommentInput._1osc, ._24s8._24s8, ._5w40.fbEventHeader, ._5vl5 ._3slj, ._1eu-, ._1wc-, ._2yaa:hover::after, ._8ue::after, ._2yap._2yaa::after, ._3q96, ._2yap ._2yaa::after, ._3nm, ._3nj ._gl, ._3ni ._gl._498, ._69d, html ._4po .ego_section .uiSideHeader, ._3s1a, ._30v-, html ._4po .ego_unit_container .ego_unit, ._3s18:hover ._3s19, ._53ip ._53ij, ._5ww7._5ww8, ._18bd, ._2vl9, ._3sod, ._40mr:hover, .uiMenuItem a:active, .uiMenuItem a:focus, .uiTypeaheadView li, div.uiTypeaheadView .selected, ._8p3, .uiToken, .uiTypeaheadView ul, .UFIInputContainer, .fbCalendarGridRoot .fbCalendarBox, ._56oy ._4mnq, ._2kml, ._rb3:hover, ._20kg, ._3ikm._3ikw, ._41mp, ._4xd8, ._4d-.fbPhotosRedesign .photoText, ._42me, ._42me:hover, form.async_saving .uiButton.uiButtonConfirm, .uiButtonConfirm.uiButtonDisabled, .uiButtonConfirm.uiButtonDisabled:active, ._4wu, .uiButtonConfirm.uiButtonDisabled:focus, .uiButtonConfirm.uiButtonDisabled:hover, ._3q__, ._1yw, ._324i, ._5rsw, ._2nb ._2ne .unreadHighlight, ._2nb ._2ne .unreadFading, .openToggler ._1n, ._50p_ ._1n, div._1j ._54ng, ._1qqu, ._58ak, ._1jwy:hover, ._3n00._2kir, ._55ly, ._1mie, ._1mib, ._4efs, ._3489, ._1gd8, ._1b33, ._1nme, ._5r_g, ._51tl, ._1nc6 ._3e7u ._1ekr, ._15kw ._2rr4, ._558b ._54ne ._54nc, ._5pmc, ._58d3 .photoImage, div._3d9x, ._42g-:hover, .openToggler>a._4-s1, .openToggler>a._4-s1:hover, .openToggler>a._4-s1:focus, .openToggler>a._4-s1:active, .uiSelector .openToggler .uiSelectorButton:hover, .uiSelector .openToggler .uiSelectorButton, .uiSelector .openToggler .uiSelectorButton:active, .uiSelector .openToggler .uiSelectorButton:focus, .uiSelector .openToggler .uiSelectorButton:hover, ._4zsl, ._1pif, .uiInlineTokenizer, ._2x8x, ._35za
{border-color:var(--border-color-top, #353535) var(--border-color-right, #282828) var(--border-color-bottom, #1e1e1e) var(--border-color-left, #353535)}

._2as-, img, ._5vb_ .home_right_column .fbFeedTicker .tickerStoryActive, ._5vb_ .home_right_column .fbFeedTicker .tickerStoryClickable:hover, #fbpoptsdiv, ._15--, .highlight, .uiButton._52nd, .uiButton._52nd:active, .uiButton._52nd:hover, .uiButtonOverlay._52nd, .uiButtonOverlay._52nd:active, .uiButtonOverlay._52nd:hover, ._5x_7, ._4b7j, ._4b7j, .mbm._5je5._52ii._52if._3m9, ._4a6m, ._4u-c._1pz6, ._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, ._5y6m, .m_1gwld1sc63.ego_unit, .fbCalendar._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, ._1t4w ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, ._1py_, .timelineLayout ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, ._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive, .fbCalendar ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive, ._1t4w ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive, .timelineLayout ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive, ._ksg, ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, .timelineLayout ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive, .timelineLayout ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActiv, li._2ddh, ._271k, ._3b62 label, ._1hwg label, ._3v72 label, ._7yv, ._4283, ._4u-c._4280._4281, .uiTypeahead, .wrap, ._1_-t
{border-color:var(--border-color-top, #353535) var(--border-color-right, #282828) var(--border-color-bottom, #1e1e1e) var(--border-color-left, #353535)!important}

div._xco, ._60l6, ._vrm, ._2rd3 ._5vsj, ._5-9o, ._5zeb, ._5aov ._5k6- ._5k6_, ._8sy, ._tzm+._tzm, ._h_6, ._286m, ._3u-1:before, ._sr8, ._5awg li, ._5p7d, ._4l3k, ._6fk ._-ld, ._nlp, ._3mdp, ._30og, ._kkw, ._4nw1, ._3ohz, ._57e6, ._2vr0, .touch ._5m5s, ._5as2, ._5as0, ._1aau, ._1aaw, .mTypeahead .jx-result, ._5f99, .touch ._1n8h ._1oby, ._mes:before, .touch ._50pc ._5v5f, ._55x2+._55x2, .jewel ._3wjp, .touch ._2s21>*::after, .jewel .flyout, ._3bg5 ._52x6, ._129-, ._15n_, .invite_list, .invite_history .invite_history_stats, ._4dyr, ._2v5c, ._1wld, ._avo, ._569t ._54hx, ._39gk, ._tpp, .uiContextualLayerAboveLeft ._569t ._54hx, .uiContextualLayerAboveRight ._569t ._54hx, ._1og-, ._57uu ._4p6i:nth-child(2), ._rb9, ._bkx, ._56t8, ._1s_l, ._4wbo, ._2_bh .uiBoxWhite, ._5h_u ._5ei4, ._5h_u ._3_tq, ._3bg, ._33_l ._33_i, ._4sak, ._5kqc, ._4iqv, ._56zl, ._56zg._yt-, ._p0k ._5hzs, ._1ceo, ._3bze::before, .uiTypeaheadView .bucketed .header, ._2t7w, ._2t7y, ._1wmv ._1wmx, ._1wmv ._1wn7>._34g8, ._3r96, ._55v2, ._4xhu ._5vsj, ._2t82, ._2t7w.highlighted, ._y5i, ._21o1, ._27_8, ._4uo5, ._2g5_, ._5lm5, ._2g5m ._2g5-, ._59ry, ._5fhr, ._1t8l ._1t8p, ._2e4p ._53ik ._53io, hr, .__1d, ._2_bh .uiBoxWhite, ._3s4w:before, ._21x_ ._1dc8, ._2emp+._2emp, ._2wus, ._3v4j a.uiMorePagerPrimary, ._553h ._5nzr, ._odv, ._h24, ._53px, ._3ji8, ._58ze, ._58zf, ._26a7, ._1k4b, ._4-u2>._4-u3, ._mqd, ._1j27, ._25q1, ._33v1, ._4vb8, ._3uh- ._3uhz, ._5ybo, ._55k0, ._3uh-, ._55k0, ._3uh-, ._2oof, ._5t_y ._1dsp, ._5acf, ._42i, ._17m5, ._4gd4, ._1v6t, ._cwn+.fbEventsDashboardSection, ._3jk0, ._4-u2>._4-u3, ._ei_, ._rio ._58z_, ._2qe, ._4kab, ._2qh, ._p6a, ._n20, ._3cql, ._54t9, ._53ij._4g4y.uiBoxGray, ._d7y, .uiHeaderSection, ._5s0g, ._1cp6+._1cp7, ._18sh, .mleFormOuterContainer, .PlacesTypeaheadView .compact .homecreate, .PlacesTypeaheadView .places .homecreate, .PlacesTypeaheadView .compact .placecreate, .PlacesTypeaheadView .places .placecreate, .PlacesTypeaheadView .compact .freeform, .PlacesTypeaheadView .places .freeform, .mleFooter, ._1y2l .jewelContent a.messagesContent, ._1iup, ._2rl, ._28l_, ._-6e ._-6h, ._2x6q ._53ik ._53io, table._5esl, ._5esl, .uiSideHeader, ._4mq3 .fbChatTypeahead, ._5yzw, ._58mk, ._53d9, ._3tmz, ._1dbm, ._3gr ._5283, ._a7s, ._5vsj .UFIShareRow, ._5vsj .UFILikeSentence, ._5vsj ._48pi, ._5vb_ ._5pr2 .fbSidebarGripper, .fbCalendar ._5pr2 .fbSidebarGripper, ._2dck, .fbChatSidebarMessage, ._2iv3, ._2nob, ._1t4w ._5pr2 .fbSidebarGripper, ._5pr2.fbChatSidebar .fbFeedTickerStory .fbFeedTickerBorder, ._3zsi, ._1cx1 ._ei_, .timelineLayout ._5pr2 .fbSidebarGripper, ._5vsj .UFIRow._4204, ._5pr2 .fbSidebarGripper, ._4xdg, ._14au, ._5oge, ._3n00, ._4-u2>._4-u3, ._4ljw._4ljw._4ljw.tickerDialogFooter, ._5mxv, ._1bkz, .uiSearchInput span, ._1rs, ._16ve ._16vf, ._2nb ._2n3, #bookmarksSeeAllEntSection ._bui .sideNavItem, ._5lnf, ._5wcf, ._61y, ._3t3, ._26y3, ._6cx, ._5n2s, .groupJumpLayout #rightCol .uiHeaderSection, .groupJumpLayout #rightCol .uiSideHeader, .fbNub._50mz .chatAttachmentShelf, .groupJumpLayout .uiHeaderSection, .groupJumpLayout .uiSideHeader, ._5vg, .pagelet ._1949, ._2v9_, ._2pu, ._5m34, .fbSettingsSections .fbSettingsSectionsItem.fbSettingsSectionsItemBorderTop, .fbSettingsListBorderTop, ._iw3, ._3fij, ._4n9-, ._4g7g, ._2jse ._-sm, ._1exz, ._35n5, ._kt, ._dut, ._2yas, ._46ye, ._1ta1, ._1zuq, ._4dn9, .fbEventsDashboardSection + .fbEventsDashboardSection > ._4cbb, ._4cbb + ._4cbb, ._3cht .text_exposed_link, ._270u:before, ._37p5:before, ._580d:before, ._2qgs:before, ._412b+._4lxk, ._412b+._412b, ._4z-w, ._56zk, .uiMorePagerLight .uiMorePagerPrimary, .uiMorePagerLight .uiMorePagerLoader, .uiMorePagerLight .uiMorePagerPrimary:hover, ._6nw ._3nm ._5a_, ._3nm ._5a_, ._56zg:hover, ._5pk3, .UFIReplyList .UFIRow, ._40mk, ._40mt, ._3scu, ._1e05 + ._1e05, .ego_unit+.ego_unit, .ego_unit+.ego_appended_units .ego_unit, .ego_appended_units+.ego_unit, ._4upo, .fbEventsDashboardSection + .fbEventsDashboardSection > .fbEventsDashboardSection > ._4ag3, .fbEventsDashboardSection + .fbEventsDashboardSection > ._4ag3, ._4cbb + ._4ag3, .fbCalendarGrid .fbCalendarDayItem, .fbCalendarGrid .fbCalendarGridCellEmpty .fbCalendarDayItem:hover, ._3su, ._1gtx, ._18_m, ._17gd, ._4xda, ._5njd, ._55v0, .__tw .jewelFooter a, ._4s1v, .__tw .jewelFooter a:hover, .__tw .jewelFooter a:active, .__tw .jewelFooter a:focus, ._38xr ._38xu ._54nc, ._38xr ._3qxy ._54nc, ._2-kn ._k-a, ._1pih, ._2tpl, ._11um, .pluginBoxDividerGray, .pluginBoxDivider, .fbxPhoto .fbPhotosPhotoActions, .fbPhotosPhotoActions .actionListButton.rotateButtons, ._5vb_ ._5pr2 .fbSidebarGripper, .fbCalendar ._5pr2 .fbSidebarGripper, ._1t4w ._5pr2 .fbSidebarGripper, .timelineLayout ._5pr2 .fbSidebarGripper
{border-top-color:var(--border-color-top, #353535)}

._33w3, ._1o_b, ._57h8, ._320_, ._2ini, ._54b_, ._432s, ._4n06 .ego_section, html ._5v3q > ._3yll, ._55xm, ._34xx, ._55xm, ._3bfq, ._cd2, ._5y4o, ._1v6t ._1mie ._3c7k, ._5y_z, ._38bw, ._3stw, ._32-_, ._3sj9, ._14vf ._33v2, ._14vf ._2x3m, .touch ._59tu, ._5hu6, ._5p-6, .touch ._400s, ._44qk, .touch ._5c5d>._5c5a:last-child, ._2ob5, .touch ._vee ._vef, .touch ._1f9d, .touch ._3tap, .touch ._59f6._55so::before, .mTypeahead .jx-typeahead-results, ._5xuj, ._1sv1, ._tn0, ._1l1a, .touch ._4_xl div._51v6::before, ._55x2>*, ._55x2._55x2>*, .touch ._2dzm, .touch ._3c9h::before, .touch ._4gj3, ._15ny::after, ._24-a, ._5dxq, .invite_list .invite_list_row, ._5ghg, ._1y1j,._15v9, ._29jk, ._29jy:not(:last-child):before, ._a7w, ._57pm, ._6-d #fbProfileCover .coverNoImage, ._6-d #fbProfileCover .coverBorder, ._3an7, ._1n5, ._r6o, ._5140, ._5q91, ._1ciq, ._4-3o, ._5145 ._5146, ._koh, ._1s_l, ._2ugw, ._4njm, ._4720._5dik, ._3z4t::after, ._3651, .uiGrid tr ._4741, ._1f8, ._2po3, ._5h_u ._3_tq, ._4w6, ._2k20, ._18x_, ._1v3g, ._6fm, ._2rhx, ._4p44, ._owx, ._387e, ._56zg._yt-, ._4qgw, ._2e9n, ._4-xi, ._25_a, ._1ceo, html ._5izg, ._4j3_, ._1k76, ._5i-8, ._3bxh, ._g3h, ._3iue, ._2rf7, ._1rlx ._1rly, ._2t80, ._2t7y, ._34yh ._57mb, ._4wm8, ._4wm6 ._1gdr, ._1yik ._3e-b, ._27_8, ._1awm li._4gg:last-child, ._5mzk ._5mzl, ._2g5m ._2g5p, ._2g5m ._2g5v, ._491z, ._24zl, ._3r96, ._5vnu ._5vnv, ._1z-e, ._344_, body._4c1z ._4v63 a._5xx9, .__1d, ._3aco, ._3s4w:before, ._21x_ ._48p5, ._4uix, ._3e7x, ._586z, ._2yaq, ._586y, ._1smq, ._5cmi, li._58yf, ._5jq0, ul._31m, ._58yf, ._4bn_, a._5xx9, li._58md, ._5y6l, ._alk, ._1ev3, ._58kh, ._34x4, ._5xj_, ._2-97, ._174o, ._1k4b, ._5ail, ._14vf ._33v2, ._174o, ._33v2, ._sig, ._5ybo, ._33c, ._55m4, ._9i5, ._9i2, ._52g0, body ._5nwo, ._4gd4, ._1v6t ._1mie, ._4pbe, ._3nmy, ._4-ss>thead>tr>th, ._3jk0, ._rio, ._4-ss>thead>tr>td, ._juy, ._4pbf, ._5x_n, ._22et, ._2qh, ._5dwm, ._s39, ._n20, ._4qzj ._5i04:not(:last-child), .__tw div.jewelHeader, ._569t ._54ak, ._p6f, ._6ws, ._3nzl ._3nzk .hasPYMK, ._2yer, .mlePhotoButtons .mlePhotoButtonLink, ._1y2l .jewelContent a.messagesContent, ._3nzl ._3nzk .friendConfirmedNotifsUnitAggregated, ._5na_, ._3nzk ._3nzq ul li, ._9fz, ._9fz::after, ._4-h8::after, ._4-h8, ._-6e ._-6h, ._2x6q ._53ik ._53io, ._3ubp, ._4dc4, div.m_1gwld1sc63 .uiSideHeader, ._53d9, ._7fw, ._5esn, ._53jh, .__tw .jewelHeader, ._3rwl, ._j-s, ._2ecj, #headerArea .megaphone_location_new_group_profile .megaphone_box, ._5ciw .uiSideHeader, ._3zsi, ._70l, ._558b ._54ak, ._3b, ul._281, ._5962, ._3db, ._2s1x ._2s1y, .profileBrowserDialog .filterBox, ._135u, ._7sj, ._7sr, ._8r7, #contentCurve, ._4al, ._18s5, ._4oc4, ._5hpq, ._5c6g, ._3q1e, ._3cz, ._1sk6, ._5vg, .fbProfileBrowserSummaryBox, ._40pu, ._194u, ._8-b ._26y1, ._5po3, ._5fez, .uiSideNav .item, .uiSideNav .subitem, .fbSettingsListBorderBottom, .uiWashLayoutGrayWash, ._1xk6, ._1o1m, ._51iy, ._9zl, ._iw3, ._6cw, ._11sf, ._3oc7 ._3oc8, ._4d6h, ._5bv1, ._bui ._5afe, ._bui .subitem, ._4-i0, .fbSettingsSections, ._n57, ._gli, ._5und._gli, ._kt, ._5ewi ._5mtx, .uiHeaderTopAndBottomBorder, ._4yj, .pop_content .dialog_body, ._4mq5, ._4uyh, .pop_content .dialog_summary, ._dut, ._3kvs, .uiMenuSeparator, ._4i2a, ._2ysc .UFIRow.UFILikeSentence, ._27nv, ._36b8, ._5v3q ._5g-l, ._b2z, ._3ztx ._3ztw ._3zty, ._2eg_, ._56zg:hover, ._56zg:last-child, ._3wvh:last-child ._56zg:hover, ._5pk3 a li, ._5pk3, .UFIReplyList .UFIRow:last-child, ._18--, ._j3t, ._3ala, ._2qsi, ._4_eu, ._4upo, ._3dvv, ._15wh, ._1knb, ._4q6h, ._50i7, ._17gd:last-child, ._5a4x, ._3j h2, ._4bha, ._417b, ._417c, .fbRemindersContent .fbRemindersContentHeader, ._nxj, ._h71, ._4wo, ._5r8e, ._34_i, ._1dq, ._g1x, ._4184, ._3m__, ._2-kn ._k-9, ._33c, .uiHeaderBottomBorder, ._2oj3, ._2x8p
{border-bottom-color:var(--border-color-bottom, #1e1e1e)}

._3g6f, ._5-2t, ._32fh ._58eg, ._r-l, ._ubn>div, ._2utd, ._1h50, ._5abx, ._5b3_, ._1hb:before, ._15ks ._15kl::before, ._5j35::after, ._36nj::before, ._3cx7>._3cxc, .__d ._gc, ._4iqs+._4iqu, ._6xu, ._4odm::after, ._5hd7.__sw, ._7a1, ._sg1, ._1y48 + ._1y48 > ._1y4a, ._5xc3, ._79q, ._33v4, body ._5nwp, ._nqz, ._5k49, ._nq-, ._4-ss>*>tr>th, ._4-ss>*>tr>td, ._4pbc a, ._4pbd, ._3m31:nth-of-type(3n+2), ._3m31:nth-of-type(3n+3), ._2nb, ._1g_, ._5pr2.fbChatSidebar, ._3f-h, ._2jq5, ._sg1, ._5pcm, ._5wpt, ._3col, ._1c0s, ._4sjs, ._5vsj.UFIContainer .UFIReplyList ._4oep, ._6_7, .uiButtonGroup .uiButtonGroupItem, ._1tm3, ._4n06 #rightCol, ._4ms4, html ._4lh ._2-d1 li a, .hasLeftCol #contentCol, ._s7h ._4-h7, ._5n2h, ._55fl, ._1lou, ._1r7y[dir='ltr'] ._1wc- div+div, ._15f2._2ddh, ._40mu, ._4b5 > ._4b6 + ._4b6, ._52r2, ._5a4x, ._2w7o, ._17gc ._17gf, ._17gc ._pop ._pot, ._5sn_, ._37wv, ._5r86, ._2is9 ._4k59, ._4xlh, ._371u+._371u,._-6c ._-6h, ._2x6q ._53im ._53io, ._50hx, ._50hx:hover, .fbCalendar.fbCalendarGridView .fbCalendarSpacer
{border-left-color:var(--border-color-left, #353535)}

._12vf, ._57h6, .SurveyRadioCheckbox .InputBackground, ._2rpb, ._552d, ._5y_z:hover, .touch ._3_9l, .touch ._ydx ._195r::before, ._5cni, ._2ob5 > div:first-child, .touch .structuredPublisher .btn, .touch.x2 .structuredPublisher .btn, ._2d3o, ._36nj::before, ._57pl, ._4xit ._251i, .uiGrid tr ._4741, ._7r2, ._5x_m, .__s3, ._1v3k, ._5gkz, ._3oh_, ._4ach, ._1t8o ._1t8p, ._7a1, ._7a5, ._2e4p ._53in ._53io, ._2xh0 ._ohe, ._32j-, ._553h ._333r, .fbTabGrid .borderItem, ._4odm::after, ._10uf, ._5aca ._5b15, ._3m31:nth-of-type(3n+2), ._3m31:nth-of-type(3n+1), ._6-6, ._7si, ._1475:not(:last-child), div._211 ._213:active, ._3547:not(:last-child), ._5s0e, ._5esl td._5esm:first-child, div._211 ._214:active, div._211 ._213, div._211 ._214, .hasLeftCol #mainContainer, ._k3, ._1g_, ._4r61, ._31wq ._18bd, ._4l99 ._2707 ._4l9a, ._37wu, ._21eh, ._50hx, ._50hx:hover
{border-right-color:var(--border-color-right, #282828)}


.touch ._ydx ._195r::before, .touch ._51v6, ._3ils, ._5d-j:after, ._2ip_ ._2zh4::before, ._2ip_ ._15kk::before, ._2ip_ ._15kk+._4u3j::before, ._4u6u>span:before, ._4u6u>span:after, ._588p hr, ._5141 ._5144:after, ._1rf5>span:before, ._1rf5>span:after, ._3te, .__s3, ._1o7w, ._3541, ._im7, .__tw, ._5fbu:before, ._23mm, ._5w22:before, ._4-97:before, ._2hw4, ._1riz, .fbNub._50mz .fbNubFlyoutFooter:after, ._2ze7, ._5f_7, ._eb3:before, ._sm1, ._51xa ._4jy1+.uiPopover>._4jy1:not(:focus):after
{background:var(--border-color-top, #353535)}



/*-------------------- photos & icons --------------------*/
#fbProfileCover .coverWrap .photo, ._6li .scaledImageFitWidth, ._4on7._3mk2.img, ._46-h._7lj img, .uiScaledImageContainer._7lj img
{ -webkit-filter:blur(var(--photo-blur, 0px));
  filter:blur(var(--photo-blur, 0px)) }

.img
{ border-radius:2px;
  -webkit-filter:brightness(var(--photo-brightness, 100%)) contrast(var(--photo-contrast, 100%));
  filter:brightness(var(--photo-brightness, 100%)) contrast(var(--photo-contrast, 100%));
  transition:0.3s; }

._30yy._4rv6, ._3vqw .uiSearchInput button, ._4kny .uiToggle:not([class~="openToggler"]):not([class~="hasNew"]) a:first-child, ._5lxt, ._2t5t, ._5iwm ._58ak::before, .sp_karesl5COtQ, .sp_P_sQPvHyhCI, ._5pr2.fbChatSidebar div._5qth ._5vmb, ._5pr2 ._3a-4, ._3jyj, ._2fpc, ._55yq, ._4xi2.east a.jewelButton ._2n_9, ._1ll-, ._3olu, ._50-0._50z-, ._ors ._5c9q, ._ors ._5c9_, .fbChatSidebarMessage.error .img, ._2fpd, .fbNub._50mz .funhouse .close, .highlightTab.fbNub._50mz .funhouse .close, .sp_s61CDCts4wH, .sp_A9A7rELNlKu, .sp_BljIt2Dozcz, .sp_VTOzZxaQn41, .sp_KN_GYdTFBXY, ._9h, ._9g, ._9j, ._1_x_:after, ._3cok, .uiSimpleScrollingLoadingIndicator, ._xtv>i, .sp_C9-kVEgHrHd, .sp_67Lm53IJ9Fd.sx_aa2ee2
{ -webkit-filter:invert(var(--icon-change-full, 100%));
  filter:invert(var(--icon-change-full, 100%)); }

._3k_u, ._5cmh, .uiInputLabelInput .uiInputLabelCheckbox, .sp_8UcP_QP8BQP.sx_32defe, .sp_8UcP_QP8BQP.sx_8f9bf2, ._53ip ._53im ._53io, .sp_THcVdbbIWHH, .sp_-xnz5oBARFC.sx_d37b9f, .sp_-xnz5oBARFC.sx_c868ec, ._5vsj .UFISeenCountIcon, .emoticonsPanel div._5r8f .panelFlyoutArrow, .sp_NwUhNcazzX1, .sp__HAPzIRW-99.sx_b6f5de, .sp__HAPzIRW-99.sx_f02f6d, .sp__HAPzIRW-99.sx_854d12, .sp__HAPzIRW-99.sx_5d73fd, .sp__HAPzIRW-99, .sp__oDy_JT1ZI-, .sp_xMoRlyNrhy1, ._5jr3 ._3s_, ._52bu ._3s_, .sp_9IJBdYFlhG5, ._3s_, .uiTypeaheadView .search.updatedSuggestionRows .selected ._56_f._5dzz, .sp_pv1eAGw_6hS, .sp_JFDfMsJzAnR, ._2l02, .sp_0f49CXzryIJ, a._5bv4::after, ._dus::after, ._1s0, .ie10 ._304e>input:checked+span:before, .webkit ._304e>input:checked+span:before, .ie10 ._55sh>input+span:before, .webkit ._55sh>input+span:before, ._53ip ._53ik ._53io, ._5tuv:before, ._5tuv:after, .sp_Jf1npy_vXR9, .sp_-iEjZgsrWzH, .sp_Sr8o5qGdIkH, ._21f img, .sp_UG6xAwx6S_s, .sp_ZLQ3QAAxbXn.sx_c3e2fd, ._5r5f, ._57gs, .sp_UuRfecYqxmg.sx_9a5d26, .uiCloseButtonSmall:hover, .uiCloseButtonSmall:focus, .uiCloseButtonSmall, .sp_0zLbrKqPOhf, .sp_xOlIFEVne2M, .sp_Z2S2FUU_cP_.sx_2dc717, ._53ik ._558b+._53io, ._1rs .emoticonsPanel .emoteTogglerImg, .sp_JCe37g3qSzR, .uiCloseButton, .sp_GKkFtBlxpsW.sx_1496cf, .fbNubButton:focus:before, .fbNubButton:hover:before, .fbNubButton:after, .sp_gH6P3H6Ql3q.sx_384120, ._1r_9 ._53ik ._53io, .ie10 ._55sg>input+span:before, .webkit ._55sg>input+span:before, ._5pd7, .sp_jva6NplBF2R.sx_95e309
{ -webkit-filter:invert(var(--icon-change-partly, 82%));
  filter:invert(var(--icon-change-partly, 82%)); }

._bxy, ._56_f._5d-1, ._6gb, ._55pi i, ._57ei i, ._1v_j i, ._5vsj .UFIReplyList .UFIPagerIcon, ._2oc8, ._2fug, ._30yy, ._2poo, ._5odt, ._17vc, ._3szp, ._zhp
{ -webkit-filter: grayscale(var(--icon-change-full, 100%));
  filter: grayscale(var(--icon-change-full, 100%)); }

.noCount:not([class~="popoverOpen"]) ._59tf, .uiMorePagerLoader img
{ -webkit-filter:invert(var(--icon-change-full, 100%)) grayscale(var(--icon-change-full, 100%));
  filter:invert(var(--icon-change-full, 100%)) grayscale(var(--icon-change-full, 100%)); }

._359
{ -webkit-filter:invert(var(--icon-change-partly, 82%)) grayscale(var(--icon-change-full, 100%));
  filter:invert(var(--icon-change-partly, 82%)) grayscale(var(--icon-change-full, 100%)); }





/*-------------------- for hide --------------------*/
._3es7:after, ._2i-0:hover, ._aou, .fbPhotoSetUFI ._1g5v+._4arz, ._1u5d, ._55r1._1tp7:not(:focus):not(._1488), ._3m75 .sideNavItem ._5afe::after, ._1mv5, ._1_e_, .uiSearchInput button, .inputtext, ._4x8y, ._5iwm ._58al, ._sg1, ._1sdi, ._5mww, ._4d3w._u77 .fbPhotosSnowboxFeedbackInput .UFIRow, .escapeHatchMinimal, #contentCol, div._5a8u, ._1rv, div._5a8u, ._5rz ._4-u9, html .fbSettingsNavigation .divider, ._5kxd, .wmMasterView:after, .uiMediaThumb, ._4b7k_analytics_griffin::-webkit-input-placeholder, .ReactLegacyMentionsInput, ._221x, ._4uyh, ._3fbp._55r1._58ak._3ct8, ._4dc7, .fbCalendarGridRoot #fbCalendarWrapper, .displayedTickerToggleWrapper .tickerLineToggle, ._59s7, ._59s7 ._5rq-, ._5r5i, ._54_v, ._2e4a, ._70b
{background-color:transparent}

._43q8._49c8, ._53-9, ._5bo2 ._5bn_, ._5r8l .uiScrollableArea.contentAfter:after, ._1tk3:before, ._1tk3:after, ._3ett, ._5k47, ._25q1, ._76u .uiTypeahead ._76v, ._463j
{background:transparent}

._449i, ._4-ss>*>tr>th
{background:transparent!important}
  
._55ii, .touch ._56bt, ._33c:hover ._33e, ._5jq6, ._5jm3::before, ._33c ._33e:focus, ._1sdf::before, .uiHeaderTitle:hover ._1sdf::before, ._3j6, .sp_RjhVx6he7NE, ._6z- .uiHeaderNav, ._3-l5, ._53jh, ._3q98:not(.hidden_elem) ._3q99, .fbNubButton:before, .fbNubButton:after, ._2vl4 ._2vlj, ._2gtz, ._2vlk, ._2is9 ._5w2q, #ci_compact_list .ci_compact_icon_holder:hover, #ci_compact_list .ci_compact_icon_holder.selected
{background-image:none}

._5z79::after, ._e-9, ._558b ._54nc, ._1wc-, .uiMenuItem .itemAnchor, .pop_content .dialog_content, .UFIContainer .UFILivePinnedComment.UFIComment
{border:none}

._3es7:after, .wmMasterView:after, .pop_content h2.dialog_title, #create_frame .box, ._3m75 .sideNavItem ._5afe::after
{border-color:transparent}

._4v9u
{border-top-color:transparent}

.fbChatTypeahead ._3rhb
{border-bottom:none}

._6wl, ._aou, ._1k3v, ._5pr2.fbChatSidebar, ._4tqm, ._4wvl, ._21dp ._7fw, ._2jq5, ._5vb_ ._5pr2.fbChatSidebar, ._5vb_ ._5pr2.fbChatSidebar, .fbChatSidebarMessage, .fbCalendar ._5pr2.fbChatSidebar, ._1t4w ._5pr2.fbChatSidebar, .timelineLayout ._5pr2.fbChatSidebar, ._5pw9, ._5vf h3.uiHeaderTitle, ._5vf .uiHeaderActions a, ._55fl, ._4te0
{box-shadow:none}

._5vsj .UFIAddComment .ReactLegacyMentionsInput.uiMentionsInput .highlighter
{margin-top:0}

.touch .btn.btnD, .touch .btn.btnC.bgb, .touch .btn.btnI, ._1hc, .touch ._5c9u, .touch ._5ca9, .touch button._5c9u, .touch ._4_d0 ._4_d1, .touch .al, .touch ._56bt, .touch ._5c9u, .touch ._5ca9, .touch button._5c9u, .touch .btn.btnD, .touch .btn.btnC.bgb, .touch .btn.btnI, ._344_, ._4un6, ._5n7j, ._5tur, ._5tus, ._53ip ._53ij, ._4un6, ._5n7j, ._5tur, ._5tus, ._53ip ._53ij, ._5jq0, ._5bpb, a._5xx9, li._58md, ._3tr, ._3tr a, ._3ts, ._4-ss>*>tr>th
{text-shadow:none}

._1y2l ._4qeb
{filter:none;-webkit-filter:none}

/*-------------------- arrows --------------------*/
/*all*/._594e:before, ._53ip ._53il ._53io, ._4-7n._157k ._53ik ._53io, ._513x, ._53il ._558b+._53io, ._53ii ._53im>._53io, ._1u5x, ._53ii ._53in>._53io, ._3yv8._5aer ._5aeo, ._km1, .fbPhotoTagger .arrow .nub, .__tw .beeperNub, ._53ii ._53il>._53io, ._53ii ._53ik>._53io
{width:0;height:0;background-image:none}

/*vertical*/._594e:before, ._53ip ._53il ._53io, ._4-7n._157k ._53ik ._53io, ._513x, ._53il ._558b+._53io, ._1u5x, ._3yv8._5aer ._5aeo, ._km1, .fbPhotoTagger .arrow .nub, .__tw .beeperNub, ._53ii ._53il>._53io, ._53ii ._53ik>._53io
{border-left:8px solid transparent;border-right:8px solid transparent}
/*horizontal*/._53ii ._53im>._53io, ._-6b ._-6h, ._2x6q ._53in ._53io, ._53ii ._53in>._53io
{border-top:8px solid transparent;border-bottom:8px solid transparent}


/*color*/
/*up*/
  ._513x, ._3yv8._5aer ._5aeo, ._km1
  {border-bottom:8px solid var(--bg-color-background, #373737)}
  .fbPhotoTagger .arrow .nub
  {border-bottom:8px solid var(--bg-color-first, #373737)}
  ._594e:before, ._53ip ._53il ._53io, ._53il ._558b+._53io, ._1u5x, ._53tk ~ ._1_d_, ._53tk ~ ._1_d-, ._53ii ._53il>._53io
  {border-bottom:8px solid var(--bg-color-second, #312d2d)}
  ._-6d ._-6h, ._2x6q ._53il ._53io
  {border-bottom:8px solid var(--bg-color-hover, #312d2d)}
  .__tw .beeperNub
  {border-bottom:10px solid var(--bg-color-background, #373737)}
/*down*/
  ._4-7n._157k ._53ik ._53io
  {border-top:8px solid var(--bg-color-first, #312d2d)}
  ._53ii ._53ik>._53io
  {border-top:8px solid var(--bg-color-second, #312d2d)}
/*right*/
  ._53ii ._53im>._53io
  {border-left:8px solid var(--bg-color-second, #312d2d)}
/*left*/
  ._-6b ._-6h, ._2x6q ._53in ._53io
  {border-right:9px solid var(--bg-color-hover, #312d2d)}
  ._53ii ._53in>._53io
  {border-right:8px solid var(--bg-color-second, #312d2d)}

/*-------------------- fixes --------------------*/
._1eds .uiPopoverButton
{opacity:1}
  
._58al
{padding:0 3px}

._1n-u
{height:71px}

._1fa6 ._5wkw
{top:6px}

._4jy3
{line-height:24px}

.fbChatTypeahead ._2xme
{top:8px}

._3-ma._2bne
{text-align:left}

._5r7, ._22st
{width:475px}

._4-u3._5kjo a
{word-wrap:break-word}

._s15, .fbPageBanner, .fbChatSidebar ._1wcc
{display:none}

.navigationGrid tr._51mx
{display:block}  

._1mf._1mj span[style]
{background-color:inherit!important}

._2qg4
{margin-bottom:10px}

._58do ._58dq
{margin-left:10px}

#pageFooter
{width:inherit}

.fbTimelineStickyHeader 
{top:42px}

/*-------------------- opacity --------------------*/
.generic_dialog_modal, .generic_dialog_fixed_overflow, ._go8, ._3qw ._3ixn
{background:rgba(0,0,0,.8)}

.pop_container_advanced
{background:rgba(50,50,50,.7)}

._4oyq, ._4-of, ._463h, ._463g
{background:rgba(0,0,0,.25)}

._k, .fbNub._50mz .fbNubFlyoutInner, ._21dp, .fbTimelineStickyHeader
{opacity:var(--opacity-chat-head, 1)}

._go8
{opacity:1}

.profilePic.img, ._4bl7._3-91 img
{ -webkit-filter:none;
  filter:none }


/*-------------------- fonts --------------------*/
body, button, input, label, select, td, textarea, #facebook ._-kb
{font-family:Helvetica Neue, Helvetica, Arial, sans-serif!important}


/*-------------------- scrollbar & selection & color forms --------------------*/
::selection {background:rgba(255,255,255,.2)}
::-moz-selection {background:rgba(255,255,255,.2)}
*::-webkit-scrollbar {width:15px!important;height:10px!important;background:var(--bg-color-first, #2a2a2a)!important;border:1px solid var(--border-color-left, #353535)!important}
*::-webkit-scrollbar-thumb {min-height:28px !important;background:var(--bg-color-background, #373737)!important}
*::-webkit-input-placeholder {color:var(--text-color-second, #979797)}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {background:var(--bg-color-first, #2a2a2a)!important}
::-webkit-scrollbar-thumb:hover {background:var(--bg-color-hover, #3d3a3a)!important}
._14-7 ._58al::-webkit-input-placeholder {color:var(--text-color-first, #dfdfdf)}  
._2y8y ._58al::-webkit-input-placeholder {color:var(--text-color-second, #979797)}
._3en1::-webkit-input-placeholder {color:var(--text-color-second, #979797)}
._4h98::-webkit-input-placeholder {color:var(--text-color-second, #979797)}
._4b7k_analytics_griffin:focus::-webkit-input-placeholder {color:var(--text-color-second, #979797)}
._5iwn ._58al:-moz-placeholder {color:var(--text-color-first, #dfdfdf)}
._5iwn ._58al::-webkit-input-placeholder {color:var(--text-color-first, #dfdfdf)}
._5iwn ._58al::-moz-placeholder {color:var(--text-color-first, #dfdfdf)}
._5iwm ._58al::-webkit-input-placeholder {color:var(--text-color-second, #979797)}
._55r1::-webkit-input-placeholder {color:var(--text-color-second, #979797)}
._55r1 ._58al::-webkit-input-placeholder {color:var(--text-color-second, #979797)}
._58al::-webkit-input-placeholder {color:var(--text-color-second, #979797)}
._58an::-webkit-input-placeholder {color:var(--text-color-second, #979797)}
._58an::-webkit-input-placeholder {color:var(--text-color-first, #dfdfdf)}
._59_m ._58al::-webkit-input-placeholder {color:var(--text-color-second, #979797)}
.inputtext::-webkit-input-placeholder {color:var(--text-color-second, #979797)!important}
audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {background-color:var(--bg-color-second, #312d2d)}
audio::-webkit-media-controls-time-remaining-display, video::-webkit-media-controls-time-remaining-display, audio::-webkit-media-controls-current-time-display, video::-webkit-media-controls-current-time-display {color:var(--text-color-first, #dfdfdf)!important}
.uiScrollableAreaGripper
{ border-radius:2px;
  border: none;
	width: 8px; }
.contentAfter .uiScrollableAreaTrack:hover, .contentBefore .uiScrollableAreaTrack:hover, .contentAfter.uiScrollableAreaTrackOver .uiScrollableAreaTrack, .contentBefore.uiScrollableAreaTrackOver .uiScrollableAreaTrack, .uiScrollableAreaDragging .uiScrollableAreaTrack
{ border-radius: 2px;
	width: 10px;
	background-color:rgba(0, 0, 0, .2); }
.uiScrollableAreaDragging .uiScrollableAreaGripper, .uiScrollableAreaTrackOver .uiScrollableAreaGripper, .uiScrollableAreaTrack:hover .uiScrollableAreaGripper
{width:10px}



  




/*-------------------- other --------------------*/
._5jm3::before, ._5vsj.UFIContainer .UFIReplyList ._4oep._2o9m:after, ._5vsj.UFIContainer .UFIReplyList ._4oep._4204:after, .UFITranslatedText
{border-left:2px solid var(--bg-color-hover, #3d3a3a)}

._6lm, ._7lt ._7lw
{border: 3px solid var(--bg-color-background, #373737)}

#pagelet_side_ads
{display:none}

#fbTimelineHeadline .profilePic, #fbTimelineHeadline .newProfilePic
{
  background-color:var(--bg-color-background, #373737);
  border:4px solid var(--bg-color-background, #373737)
}

._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, .fbCalendar ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, ._1t4w ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, .timelineLayout ._5pr2.fbChatSidebar .fbFeedTicker .fbFeedTickerStory:hover, ._5vb_ ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive, .fbCalendar ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive, ._1t4w ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive, .timelineLayout ._5pr2.fbChatSidebar .fbFeedTicker .tickerStoryActive, ._55ln:focus, ._55ln:hover, li.selected ._55ln, html ._4jy0:focus
{box-shadow:1px 0 0 var(--border-color-left, #353535) inset}

._2iwq::before
{background-image:linear-gradient(to right, var(--bg-color-hover, #3d3a3a) 100%)}

._5hpw ._5hpx ._5hq1:hover, ._5hpw ._5hpx ._5hq1:focus, ._3f-h._3f-i
{border-color:var(--text-color-first, #dfdfdf)}

._5vf h3.uiHeaderTitle, ._5vf .uiHeaderActions
{border-radius:2px}

._3m75 .selectedItem ._55yu>a, ._3m75 .sideNavItem:hover ._55yu>a, ._3m75 .selectedItem .uiSideNavEditButton a, ._3m75 .sideNavItem:hover .uiSideNavEditButton a, ._3m75 .sideNavItem .uiSideNavEditButton a, ._3m75 .selectedItem .uiSideNavEditButton a, ._3m75 .sideNavItem:hover .uiSideNavEditButton a, ._3m75 .uiSideNavEditButton a:focus, ._3m75 .uiSideNavEditButton > .openToggler > a, ._3m75 ._55yu>a, ._3m75 .sideNavItem .uiSideNavEditButton a, ._3m75 .sideNavItem:active ._55yu>a:not(:active), ._3m75 .sideNavItem:active .uiSideNavEditButton a:not(:active)
{
  background-color: var(--bg-color-hover, #3d3a3a);
  border-color: var(--bg-color-hover, #3d3a3a)
}

._3q__
{background:padding-box var(--bg-color-first, #2a2a2a)}

._3i_m ._2her
{color:var(--bg-color-first, #2a2a2a)}

._25if
{padding:91px 0}

#pageFooter .copyright
{
  padding:20px;
  margin:auto;
}
  
/* chat */
.fbNub._50mz:active .fbNubFlyoutTitlebar, .fbNub._50mz.focusedTab .fbNubFlyoutTitlebar, .fbNub._50mz .menuOpened .fbNubFlyoutTitlebar, .fbNub._50mz .menuOpened .fbNubFlyoutTitlebar:hover
{color:var(--bg-color-first, #2a2a2a)}

._cqu
{width:100%}
}