@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("feedly.com") { 
  
/* Remove stuff */
  .xlarge-only, #integrationstab_header, #librarytab_header, .button-share-to-team, button[title="Copy to Team"], button[title="Save to board"],.pro,.dot,.dot-pulse,.popover {
    display: none !important;
  }
  
/* Backgrounds */
    #addContentPlaceholderFX .button-icon-left, .menu, .item-with-visuals, .headerInfo-expanded-scroller, .popover, div.modal.small, .u100Header-banner, #feedlyDialogFramePart, .feed-header, #formActions {
    background-color: #212121 !important;
  }
    #searchBarFX, #feedlyTabs, .sliderContainer, #headerBarFX, .subscriptionContentsHolder, .u0:hover, .edition, .header.sticky, .headerInfo, #headerBarFX header, #feedlyTabsHolder, #floatingBar, .floatingBar, .modal-notifications, .fixed-bar {
    background-color: #303030 !important;
  }
  #mainBarFX, .floatingEntryScroller, .entryholder, #feedlyFrame, #feedlyPageHolderFX, body, .selected:hover {
    background-color: #444242 !important;
  }
 
/* Icons */
  .feedly-logo,
  .item .icon-fx-light-gear-ios-md-black,
  .icon-fx-rss-ios-sm-black,
  .icon-fx-google-plus-ios-sm-black,
  .icon-fx-laurel-ios-sm-black,
  .icon-fx-add-ios-sm-black,
  .icon-fx-opml-ios-sm-black,
  /* More options for feed dropdown menu  */
  .item .icon-fx-rename-ios-sm-black,
  .item .icon-fx-gear-ios-sm-black,
  /* Add content page */
  .item .icon-fx-rss-ios-md-black,
  .item .icon-fx-google-plus-ios-md-black,
  /* Oranizer */
  .hhint img,
  .metadata img,
  /* Article view header */
  .headerInfo-expanded-img:not(.icon-fx-save--active-ios-md), 
  /* Action toolbar */
  .right-col .mark-as-read-button,
  .right-col .icon-fx-arrowhead-down-ios-sm-black,
  .right-col .icon-toolbar-refresh-secondary,
  .right-col .icon-fx-cards-layout,
  .right-col .icon-fx-magazine-layout,
  .right-col .icon-fx-title-only-layout,
  .right-col .icon-fx-more-ios-md-black, 
  /* Magazine view */
  .content > button.mark-as-read,
  .content > button.hide,
  .content > button:not(.saved).save-for-later, 
  /* Title only view */
  .entry > button:not(.saved).save-for-later /* for RTL languages */,
  .entry .icon-fx-cross-ios-sm-black,
  .icon
   {
    filter: invert(100%) !important;
    -webkit-filter: invert(100%) !important;
  }
  
/* Fix background color for inverted icons */
  .save-for-later:hover {
    background-color: transparent !important;
  }
  .icon-fx-save--active-ios-md:hover {
    background-color: #111 !important;
  }
  
/* left and right arrows in article mode */
  .slideBumper {
    background: #E0E0E0 !important;
    border-radius: 50% !important;
  }
   
/* Text */
  h1, h2, .heading, a:hover, .item-header, .editionInfo {
    color: #EEE !important;
  }
  h3, h4, .title, a, .h2Link, label, .theme-panel-label, .subscription-status, .card-header {
    color: #DDD !important;
  }
  .summary, p, .subscriptionContentsTitle, .item, td, section, div {
    color: #BBB !important;
  }
  .metadata, .engagement, .action, .read a {
    color: #AAA !important;
  }
  .read div, .read span {
    color: #888 !important;
  }
  input::placeholder {
    color: #212121 !important;
  }
  
/* Unread count next to the check mark, color already inverted so need different color */
  .mark-as-read-button span {
    color: #353535 !important;
  }
  
  a {
    font-weight: bold !important;
  }
  
/* Sidebar items */
  .header:not(.row), .feedIndex, .moreHandle {
    transition-duration: .25s !important;
    border-radius: 3px !important;
    padding-right: 6px !important;
  }
  .header:hover:not(.row), .feedIndex:hover {
    background: #555 !important;
    margin-left: 3px !important;
  }
  .moreHandle:hover {
    background: #555 !important;
  }
  #feedlyTabs .label {
    font-size: 15px;
  }
  
/* Fix width in magazine view */
  .col-xl-9 {
    width: 100% !important;
  }
  .fx .entry.u4{
    max-width: none !important;
  }
  
/* Buttons */
  .giant-mark-as-read, #feedlyTabsUnpin, .visitWebsiteButton, .small.pro.primary, .follow {
    background: #43a047 !important;
    color: #EEE !important;
    transition-duration: .4s !important;
    box-shadow: none !important;
  }
  .danger.primary, #feedlyPageFX .card {
    color: #EEE !important;
    transition-duration: .4s !important;
    box-shadow: none !important;
  }
  .giant-mark-as-read:hover, #feedlyTabsUnpin:hover, .visitWebsiteButton:hover, .small.pro.primary:hover, .follow:hover {
    background: #2e7d32 !important;
  }
  /* Secondary (gray) buttons */
  button.secondary:not(.button-icon-only):not(.button-icon-left), button.following-feed {
    border: 1px solid #777 !important;
  }
  /* Disable boarder for for profile icon/letter */
  .profile-bubble .button-dropdown button.secondary  {
    border: none !important;
  }
  
/* Preferences buttons */
  #feedlyPageFX .card {
    box-shadow: none !important;
    background-color: #656565 !important;
    border-top: solid 2px #2bb24c !important;
  }

/* Title only view */
  .read.u0 {
    margin-bottom: 1.5px !important;
    border-bottom: 1px solid #555 !important;
    border-radius: 6px !important;
  }
  
/* NO BORDERS */
  * {
    border: none !important;
  }
}