@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url("about:home") {
  body {
    background: #464648;
  }
  .search-wrapper input {
    background: #eee;
  }
  #snippetContainer,#brandLogo,#aboutMozilla {
    display:none;
  }
  .launchButton {
    color: #eee;
  }
}
