@-moz-document domain("web.whatsapp.com"){

.img.icon path{fill:#bbb;}
.img.icon.icon-status-dblcheck-ack path,.is-unread .chat-meta, .unread .chat-meta,.chat-meta{fill:#4FC3F7;}

.empty-top,.chatlist-panel-body{background:#242424!important;}
.chat-meta .timestamp,.pane-chat-header-subtitle .ellipsify{color:#b1b1b1!important;}
.section-header{background:black!important;}


.drawer-body{background:#2F2F2F!important;}

.chatlist .chat-body, .chatlist .header-body,.chatlist .chat:hover .chat-body, .chatlist .location:hover .chat-body,.chatlist .chat:hover .header-body,.chatlist .location:hover .header-body, .chatlist .chat.hover .chat-body, .chatlist .hover.location .chat-body,.chatlist .chat.hover .header-body, .chatlist .hover.location .header-body,.chatlist .chat:hover::after, .chatlist .chat.hover::after, .chatlist .chat.active::after{border-top:1px solid #242424;}
.last .chat-body, .last .header-body,.list-action-alt .list-action-body,.row-drawer-item .row-body{border-bottom:1px solid #242424;}

.block-compose,.btn-more,.menu-tabs-emoji{background-color:#484848!important;}

.context.context-in,.context.context-out{background:none;}
.context{right:7px;top:-3px;}

/*.input-emoji .input::first-letter{text-transform:capitalize;}*/

/*.block-compose .input-container:hover{background-color:#7C7C7C!important;}*/
.block-compose .input-container:active{border:1px solid #242424!important;}
.block-compose .input-container{border:1px solid /*rgb(20, 83, 86)*/#565656!important;}
.block-compose .input-container/*fix1001,.menu-icons-item*/{background-color:/*rgb(4, 66, 69)*/#868686!important;color:white;background-color: #044245;}

.input-container .input{color:#101010!important;}
.pane-footer .input-placeholder{color:#242424!important;}

.input-placeholder{color:#c3c3c3!important;}

/* i5 */

 .drawer-body .well-chat{background-color:#151515!important;}
.row-main.ellipsify,.row-main.ellipsify span.title,.list-action-body.ellipsify,.well-chat-name span span{color:#18bdaa!important;}

.ellipsify .title{font-weight:100;font-size:14px;color:inherit;}

.text-input .input-text,.row-main .title{color:#6f6f6f}

.chatlist .chat.active .chat-body,.chatlist .active.location .chat-body,.chatlist .chat.active .header-body,.chatlist .active.location .header-body,.media-viewer-thumbs-container{border-top-color:inherit;}

.media-canvas{outline:4px solid #2f2f2f;}
.media-canvas:hover{outline:4px solid #6d6d6d!important;}
.media-gallery{background:#2f2f2f;}

.icon-forward{background-position:-1570px -1582px;}
.icon-star-btn{background-position:-3683px -3740px;}
.icon-bubble{background-position:-662px -657px;}

/* end */

#window{background:rgb(121,121,121)!important;}
::-webkit-scrollbar-track{background:rgba(255,255,255,0.26)!important;}
::-webkit-scrollbar-thumb{background-color:#186F72!important;min-height:50px;border-radius:2px;background-image:-webkit-linear-gradient(294deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255, 255, 255,.2) 75%,transparent 75%,transparent);min-height:50px;border-radius:5px!important;-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,0.5)!important;}
::-webkit-scrollbar{width:8.5px!important;}
.pane-intro:after{border-top:6px solid #1C8B82;}
.pane-chat-header:after,.subheader-search:after,.media-collection .btn-fill .icon{display:none!important;}

.pane-list-header,.pane-header,.drawer-header,.block-message,.drawer-header-small,.drawer-header-offset,.multi-controls{background-color:#186F72!important;}

/*[contenteditable=true]:empty:before{content:attr(placeholder);display:block;}*/
.ptt-recording *{color:#EC2C2C!important;}

.app.three{background:rgb(23,105,99)!important;}
.drawer-container-panel .drawer-section-photo{margin-top:15px;}
.drawer-body .drawer-section-photo/*,.drawer-editable .drawer-section*/,.drawer-container-panel .drawer-section-action{background:none!important;}

.drawer-new-group .drawer-editable .drawer-section,.drawer-new-group .drawer-editable .drawer-section-expand{margin-start:5px;-webkit-margin-start:5px;-moz-margin-start:5px;}
.drawer-new-group .drawer-editable .drawer-section:nth-child(2){margin-start:50px;-webkit-margin-start:50px;-moz-margin-start:50px;}

.ellipsify{color:rgb(78,88,97)!important;}

.media-collection,.media-viewer{background-color:#383838;}

.drawer-section-expand.animate-enter2{min-height:120px;}

.drawer-section-expand .list-action,.multi-count{color:#ccc;}
.drawer-section-expand .list-action:hover{color:#919191!important;background-color:#151515!important;}

.pane-chat-body,.pane-intro,.chatlist .chat,.chatlist .location,#startup,.pane-list-body,#platforms,.media-collection>span,.drawer-section-expand,.drawer-section,.pane-chat-body,.drawer .chatlist,.media-content,.new-group-contacts,.drawer-new-group .drawer-editable,.drawer-media .drawer-body,.drawer-section-info .contact.cha{background:rgb(36,36,36)!important;}
.chatlist .active.location,.chatlist .chat.active{border-bottom:1px solid #101010!important;}
.chatlist .active.location:hover,.chatlist .chat.active:hover{border-bottom:1px solid #101010!important;}

.chatlist .active.location:hover:before,.chatlist .chat.active:hover:before,.chatlist .active.location:before,.chatlist .chat.active:before,.popup,.btn-fill{background-color:#101010!important;}.btn-fill:hover{background-color:#151515!important;}

.chatlist .chat:hover,.chatlist .location:hover,.infinite-list-item .chat,.location,.list-action,.drawer-section-info .chat:not(:last-child),.drawer-section-info .location:not(:last-child){border-bottom:1px solid #2c2c2c!important;}
.chatlist .chat:hover:before,.chatlist .location:hover:before,.infinite-list.chatlist{background-color:#2c2c2c!important;}

.chatlist .chat:hover,.chatlist .location:hover,.infinite-list-item:hover,.list-action-alt:hover{background:rgb(20,20,20)!important;}
.active.location,.chat.active:hover,.active.location:hover,.chat.active{background:rgb(6,6,6)!important;}
.chatlist .chat:after,.chatlist .list-title:after,.new-group-preview .chat.contact{border-bottom:none!important;}
.chat:hover:not(.active),.location:hover:not(.active){background-color:inherit!important;}
.drawer-section-title .col-side,.chat-title span,.chat-time,.drawer-section-title,.msg-search-notfound,.popup-title,.drawer-title-body,.entry-title,.entry-platform-title,.pane-header .chat-title,.chat.active .chat-title,.drawer .header-title{color:white!important;}
/*.pane-chat-header,.pane-header{background-color:#101010!important;}*/
.infinite-list-item .list-title{background-color:black!important;}
.drawer-container-left .drawer{background-color:#2c2c2c!important;}
.title-underlined,.drawer-section-footer.separator{border-color:rgba(126, 126, 126, 0.42)!important;}
.media-content .btn-round{background-color:#616161!important;}
.media-content .btn-round:hover{background-color:#424242!important;}
.chat-status .emojitext,.pane-header .chat-status .emojitext.ellipsify,.drawer-info .header-secondary{color:rgb(194,194,194)!important;}.message-text,.msg-unread-body{color:rgb(36,36,36)!important;}
.chat-status .emojitext.ellipsify,.infinite-list-item .chat-status .emojitext:first-child,.textfield-static{color:#6A6A6A!important;}
.chat.unread .chat-status .emojitext.ellipsify,.chat.unread .chat-status .emojitext.ellipsify{color:rgb(156,156,156)!important;}

.cont-input-search,.input-search,.list-search,.pane-subheader{background-color:#868686!important;color:white;}
.cont-input-search{width:440px!important;padding-top:1px!important;}
.subheader-search.active,.pane-chat-footer,.chat.media-chat{border:none!important;box-shadow:none!important;}
.input-search{margin-right:0!important;height:48px!important;}
.subheader-search{height:50px!important;}

.drawer-new-group .input-advanced,.drawer-new-group .input-line,.textfield-editable .input-advanced{border-bottom:1px solid #474747;width:290px!important;overflow-y:inherit!important;}
.input-advanced.active{border-bottom:1px solid #00BFA5!important;}

.placeholder{color:rgba(147,147,147,0.5)!important;}
.input-advanced .input-line,.input-line input{color:#888888!important;}

::-webkit-input-placeholder{color:#888888;}
:-moz-placeholder{color:#888888;opacity:1;}
::-moz-placeholder{color:#888888;opacity:1;}
:-ms-input-placeholder{color:#888888;}

.list-names .chat,.list-names .location{background-color:#454545!important;}
.list-names .chat:hover,.list-names .location:hover{background-color:#4D4D4D!important;}
.list-names .chat-controls:hover{background-color:#CA3434!important;}

.dropdown{box-shadow:0px 0px 11px #808080!important;background-color:#151515!important;}
.dropdown .menu-item a:hover{background-color:#212121;color:#ccc!important;}
.dropdown .menu-item a,.popup-body,.entry-platform-text{color:#bbb!important;}

.menu-tabs-emoji:before{background-color:#FDA41A!important;height:5px!important;}

.media-panel,.backdrop{background-color:rgba(35,35,35,0.95)!important;}
.media-panel .emojitext{color:black!important;}
.media-panel-header,.chat.media-chat{background-color:#868686!important;}
.msg-unread-body{background-color:#C5C5C5!important;}.msg-unread{background-color:rgba(97,97,97,0.44);}

.infinite-list-item .list-title{border-bottom:1px solid #616161!important;}

.butterbar-battery{background-color:#C62828!important;}
.butterbar-computer,.butterbar-phone{background-color:#FFA000!important;}
.butterbar-update{background-color:#00B0FF!important;}
.butterbar-notification{background-color:#1C6633!important;}

.butterbar-notification .butterbar-title{color:white!important;}
.butterbar-notification .butterbar-text{color:#f9fbe7!important;}

.avatar-image{border-radius:50%!important;}

select{background-color:#909090!important;border-color:-moz-use-text-color -moz-use-text-color #909090!important;}

/*fix1001.menu-icons-item:hover,*/.media-panel .btn-round:hover{background-color:#3B3B3B!important;}

.icon-alert-battery{background-position:0 0}.icon-alert-computer{background-position:-48px -48px}.icon-alert-notification{background-position:-96px -96px}.icon-alert-phone{background-position:-144px -144px}.icon-alert-update{background-position:-192px -192px}.icon-audio{background-position:-240px -240px}.icon-audio-cancel{background-position:-258px -258px}.icon-audio-cancel-noborder{background-position:-292px -292px}.icon-audio-download{background-position:-326px -326px}.icon-audio-pause{background-position:-360px -360px}.icon-audio-play{background-position:-394px -394px}.icon-audio-upload{background-position:-428px -428px}.icon-back{background-position:-510px -510px}.icon-back-blue{background-position:-486px -486px}.icon-back-light{background-position:-510px -510px}.icon-broadcast{background-position:-534px -534px}.icon-camera-light{background-position:-574px -573px}.icon-chat{background-position:-598px -597px}.icon-checkmark-light{background-position:-622px -621px}.icon-chevron-left{background-position:-652px -651px}.icon-chevron-right{background-position:-682px -681px}.icon-clip{background-position:-712px -711px}.icon-connection-l-light{background-position:-736px -735px}.icon-dnd{background-position:-768px -767px}.icon-download{background-position:-808px -809px}.icon-emoji-input{background-position:-840px -841px}.icon-emoji-places{background-position:-908px -909px}.icon-emoji-things{background-position:-980px -981px}.icon-error{background-position:-1004px -1005px}.icon-forward-light{background-position:-1028px -1029px}.icon-gps-light{background-position:-1058px -1059px}.icon-hide{background-position:-1082px -1083px}.icon-logo{background-position:-1130px -1131px}.icon-marker{background-position:-1194px -1195px}.icon-media-cancel{background-position:-1218px -1219px}.icon-media-download{background-position:-1262px -1263px}.icon-media-download-noborder{background-position:-1310px -1311px}.icon-media-play{background-position:-1358px -1359px}.icon-media-upload{background-position:-1406px -1407px}.icon-media-upload-noborder{background-position:-1454px -1455px}.icon-menu{background-position:-1502px -1503px}.icon-minus{background-position:-1526px -1527px}.icon-msg-audio-light{background-position:-1554px -1555px}.icon-msg-check{background-position:-1570px -1573px}.icon-msg-check-light{background-position:-1586px -1588px}.icon-msg-dblcheck{background-position:-1602px -1603px}.icon-msg-dblcheck-ack{background-position:-1618px -1618px}.icon-msg-dblcheck-ack-light{background-position:-1634px -1633px}.icon-msg-dblcheck-light{background-position:-1650px -1648px}.icon-msg-time{background-position:-1666px -1663px}.icon-msg-time-light{background-position:-1682px -1678px}.icon-msg-video-light{background-position:-1698px -1693px}.icon-muted{background-position:-1714px -1711px}.icon-pencil{background-position:-1730px -1729px}.icon-platform-android{background-position:-1754px -1753px}.icon-platform-bb{background-position:-1804px -1803px}.icon-platform-bb10{background-position:-1854px -1853px}.icon-platform-s40{background-position:-1904px -1903px}.icon-platform-s60{background-position:-1954px -1953px}.icon-platform-wp{background-position:-2004px -2003px}.icon-plus{background-position:-2054px -2053px}.icon-ptt{background-position:-2082px -2081px}.icon-ptt-chat{background-position:-2106px -2105px}.icon-ptt-in-blue{background-position:-2118px -2125px}.icon-ptt-in-gray{background-position:-2137px -2151px}.icon-ptt-in-green{background-position:-2156px -2177px}.icon-ptt-out-blue{background-position:-2175px -2203px}.icon-ptt-out-gray{background-position:-2194px -2229px}.icon-ptt-out-green{background-position:-2213px -2255px}.icon-refresh{background-position:-2232px -2281px}.icon-refresh-l-light{background-position:-2256px -2305px}.icon-refresh-light{background-position:-2288px -2337px}.icon-round-send{background-position:-2312px -2361px}.icon-round-send-inv{background-position:-2347px -2396px}.icon-round-x{background-position:-2382px -2431px}.icon-round-x-inv{background-position:-2417px -2466px}.icon-search{background-position:-2452px -2501px}.icon-search-light{background-position:-2476px -2525px}.icon-send{background-position:-2500px -2549px}.icon-send-light{background-position:-2524px -2573px}.icon-share{background-position:-2548px -2597px}.icon-smiley{background-position:-2580px -2629px}.icon-status-audio{background-position:-2604px -2653px}.icon-status-check{background-position:-2620px -2673px}.icon-status-dblcheck{background-position:-2638px -2691px}.icon-status-dblcheck-ack{background-position:-2656px -2709px}.icon-status-image{background-position:-2674px -2727px}.icon-status-location{background-position:-2690px -2747px}.icon-status-ptt-blue{background-position:-2706px -2767px}.icon-status-ptt-gray{background-position:-2722px -2787px}.icon-status-ptt-green{background-position:-2738px -2807px}.icon-status-time{background-position:-2754px -2827px}.icon-status-vcard{background-position:-2772px -2845px}.icon-status-video{background-position:-2788px -2865px}.icon-user{background-position:-2804px -2885px}.icon-x{background-position:-2892px -2973px}.icon-x:hover,.icon-x-light:hover{background-position:-2828px -2909px}.icon-x-alt{background-position:-2852px -2933px}.icon-x-alt:hover{background-position:-2870px -2915px}.icon-x-alt-small{background-position:-2876px -2957px}.icon-x-light{background-position:-2892px -2973px}.icon-x-viewer{background-position:-2916px -2997px}.icon-checkmark{background-position:-624px -623px!important}.icon-add-user{background-position:-340px -13px!important;}
.sprite-loaded .icon,.sprite-loaded .icon-s,.sprite-loaded .icon-l,.sprite-loaded .icon-xl,.icon-user-default,.icon-broadcast-default,.icon-group-default,.icon:not(.icon-status-miss):not(.icon-settings-blocked):not(.icon-status-document):not(.icon-delete):not(.icon-delete-danger):not(.icon-forward):not(.icon-emoji-smileys):not(.icon-emoji-animals):not(.icon-emoji-food):not(.icon-emoji-activity):not(.icon-emoji-travel):not(.icon-emoji-objects):not(.icon-emoji-symbols):not(.icon-emoji-flags):not(.btn-media-forward):not(.icon-emoji-people):not(.icon-emoji-nature):not(.icon-emoji-recent):not(.icon-add-user-light):not(.icon-down):not(.icon-chevron-right-alt):not(.icon-bubble):not(.icon-star-btn):not(.icon-forward-chat):not(.icon-link):not(.icon-exit),.icon-s,.icon-l:not(.btn-media-forward),.icon-xl:not(.icon-contact):not(.icon-image):not(.icon-camera):not(.icon-document):not(.icon-media-disabled){background-image:url(https://i.imgur.com/GJYjiFc.png);background-size:inherit!important;}

.btn-context.icon-down{background-image:url(https://i.imgur.com/gz4jr7a.png)!important;background-position:inherit!important;}

.icon-user-default,.icon-broadcast-default{background-position:-108px -10px!important;}
.icon-group-default{background-position:-173px -10px!important;}

.pane-header .icon-user-default,.pane-header .icon-broadcast-default{background-position:-234px -10px!important;margin-top:-3px;}
.pane-header .icon-group-default{background-position:-285px -10px!important;margin-top:-3px;}

.drawer-section-photo .icon-user-default,.new-group-preview .icon-user-default,.media-viewer .icon-user-default{background-image:url(https://i.imgur.com/DR7JELP.png);background-position:center!important;background-size:contain!important;}
.drawer-section-photo .icon-group-default,.avatar-picker .icon-group-default{background-image:url(https://i.imgur.com/yaINDZk.png);background-position:center!important;background-size:contain!important;}

.avatar-overlay{background-color:rgba(55,51,51,0.82);}

.intro-image{border-radius:50%!important;}

.block-message{color:#101010!important;}

.chatlist .icon:first-child{margin-right:5px!important;margin-top:-1px!important;}
span.icon.icon-down.btn-context{margin-right:-5px!important;margin-top:0!important;}
.btn-context{margin-start:2px;-webkit-margin-start:2px;-moz-margin-start:2px;}

.cont-input-search,.subheader-search.active .cont-input-search{border-color:#868686;}
.entry-subtitle,.toggle span{color:black!important;}

.cont-input-search .input-placeholder,.chatlist .is-unread .chat-status,.chatlist .is-unread .header-secondary,.chatlist .is-unread .location-secondary,.chatlist .unread .chat-status,.chatlist .unread .header-secondary,.chatlist .unread .location-secondary,.drawer-value,.textfield-value .emojitext{color:#CDCDCD!important;}

.chatlist .chat-status-name,.chatlist .chat-status-divider{color:#999!important}

.chat .chat-status.typing .emojitext.ellipsify,.chat-secondary [title*="typing…"].emojitext.ellipsify,.chat-secondary [title*="escribiendo"].emojitext.ellipsify,.chat-secondary [title*="train"].emojitext.ellipsify,.chat-secondary [title*="typen"].emojitext.ellipsify,.chat-secondary [title*="digitando"].emojitext.ellipsify,.chat-secondary [title*="schreibt"].emojitext.ellipsify,.chat-secondary [title*="pisze"].emojitext.ellipsify,.chat-secondary [title*="scrivendo"].emojitext.ellipsify,.chat-secondary [title*="scrie"].emojitext.ellipsify,.chat-secondary [title*="mengetik"].emojitext.ellipsify,.chat-secondary [title*="audio"].emojitext.ellipsify{color:#07bc4c!important;}
[title*="typing…"],[title*="escribiendo"],[title*="train"],[title*="typen"],[title*="digitando"],[title*="schreibt"],[title*="scrivendo"],[title*="pisze"],[title*="scrie"],[title*="mengetik"],[title*="audio"]{font-weight:bold;}
.message-in{background-color:#E3E3E3!important;}
.message-in:before {background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAYAAADeB1slAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wEWDi0oeK/6tgAAALJJREFUSMftl0EOwjAMBMe0cOAPfkX+/xr/gQsHcwpCIiSkjQVVaynXHe/GlhJxd3KJCKPKzBzgRHCFAHL323VwAA7A3gGvW3xE1IxnWw5K3Q8DfBIfAqiJ//8dtLoHmKOEFzvoEe9y0Cv8NWCpcBWwVvS3Yzqy+yJAVSV80VR1WHTSeL4LMJnZPQrwBgPOZnaLAJTinYC5CnT351kbdwYCl5TS1cxcor5QeeTDFy3UAcADaHxiHvdoSs0AAAAASUVORK5CYII=');}
.color-17{color:#5E8AD2!important;}

/*.app-wrapper::before,*/.app-wrapper{background:rgb(68,68,68)!important;}
.app-wrapper::before,#wrapper:before,.message-in .btn-context{background-color:transparent!important;}
.message-in .btn-context:after,.drawer-info .chat{background:transparent!important;}

.message-in .btn-context{top:2px;right:15px;}
.drawer-section-action{background:transparent!important;}

.app-wrapper{background-image:url(https://www.pixelstalk.net/wp-content/uploads/2016/10/Black-Light-Wallpaper-Full-HD.jpg)!important;background-size:cover!important;}
}
